<%- include ../header %>
<div class="page">
    <div class="page-header">
        <h1 class="page-title"><%= title %></h1>
        <ol class="breadcrumb"> 
        </ol>
    </div>

    <div class="page-content">
        <div class="row">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-4 offset-md-1">
                            <div class="form-group form-material floating" data-plugin="formMaterial">
                                <input type="text" class="form-control empty" name="name">
                                <label class="floating-label">姓名</label>
                            </div>

                            <div class="form-group form-material floating" data-plugin="formMaterial">
                                <input type="text" class="form-control empty" name="id_number">
                                <label class="floating-label">身份证号</label>
                            </div>

                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group form-material">
                                <label class="form-control-label" for="sex">性别</label>
                                <div style="margin-top: 12px;">
                                    <div class="radio-custom radio-primary radio-inline">
                                        <input type="radio" id="sex1" name="sex">
                                        <label for="sex1">男</label>
                                    </div>
                                    <div class="radio-custom radio-primary radio-inline">
                                        <input type="radio" id="sex2" name="sex">
                                        <label for="sex2">女</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-material floating" data-plugin="formMaterial">
                                <input type="text" class="form-control empty" name="nation">
                                <label class="floating-label">手机号码</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row row-lg">
                        <div class="col-xl-12 col-xs-12">
                            <!-- Example Nav Tabs -->
                            <div class="nav-tabs">
                                <ul class="nav nav-tabs nav-tabs-line">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#blood_pressure_info">血压信息录入</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#blood_sugar_info">血糖信息录入</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#temperature_info">体温信息录入</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#weight_info">体重信息录入</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#heart_rate_info">心率信息录入</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <!-- 血压信息录入页面 -->
                                <div role="tabpanel" class="tab-pane active" id="blood_pressure_info">
                                    <div class="panel-body container-fluid">
                                        <form>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group form-material">
                                                        <label class="form-control-label" for="min_pressure">舒张压</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="min_pressure" name="min_BloodPressure">
                                                            <span class="input-group-addon">毫米汞柱</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group form-material">
                                                        <label class="form-control-label" for="max_pressure">收缩压</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="max_pressure" name="max_BloodPressure">
                                                            <span class="input-group-addon">毫米汞柱</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-12">
                                                    <button type="submit" class="btn btn-block btn-success">提交</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- 血糖信息录入页面 -->
                                <div role="tabpanel" class="tab-pane" id="blood_sugar_info">
                                    <div class="panel-body container-fluid">
                                        <form>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group form-material">
                                                        <label class="form-control-label" for="b_sugar">餐前血糖</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="b_sugar" name="b_BloodGlucose">
                                                            <span class="input-group-addon">毫克/分升</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group form-material">
                                                        <label class="form-control-label" for="a_sugar">餐后血糖</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="a_sugar" name="a_BloodGlucose">
                                                            <span class="input-group-addon">毫克/分升</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-12">
                                                    <button type="submit" class="btn btn-block btn-success">提交</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- 体温信息录入页面 -->
                                <div role="tabpanel" class="tab-pane" id="temperature_info">
                                    <div class="panel-body container-fluid">
                                        <form>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-12">
                                                    <div class="form-group form-material">
                                                        <label class="form-control-label" for="id_number_c1">体温</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="id_number_c1" name="temperature">
                                                            <span class="input-group-addon">度(°C)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-12">
                                                    <button type="submit" class="btn btn-block btn-success">提交</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- 体重信息录入页面 -->
                                <div role="tabpanel" class="tab-pane" id="weight_info">
                                    <div class="panel-body container-fluid">
                                        <form>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-12">
                                                    <div class="form-group form-material">
                                                        <label class="form-control-label" for="id_number_c1">体重</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="id_number_c1" name="weight">
                                                            <span class="input-group-addon">公斤 (kg)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-12">
                                                    <button type="submit" class="btn btn-block btn-success">提交</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- 心率信息录入页面 -->
                                <div role="tabpanel" class="tab-pane" id="heart_rate_info">
                                    <div class="panel-body container-fluid">
                                        <form>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-12">
                                                    <div class="form-group form-material">
                                                        <label class="form-control-label" for="id_number_c1">心率</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="id_number_c1" name="heart_rate">
                                                            <span class="input-group-addon">次/分</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-12">
                                                    <button type="submit" class="btn btn-block btn-success">提交</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- End Example Nav Tabs -->
                        </div>
                    </div>
                </div>

                <!-- Tab panes -->
            </div>
        </div>
    </div>
</div>

<%- include ../footer %>
