<%- include ../header %>
<div class="page">
    <div class="page-header">
        <h1 class="page-title"><%= title %></h1>
        <ol class="breadcrumb">
        </ol>
    </div>

    <div class="page-content">
        <div class="row">
            <div class="panel">
                <div class="panel-body">
                    <div class="row row-lg">
                        <div class="col-xl-12 col-xs-12">
                            <!-- Example Nav Tabs -->
                            <div class="nav-tabs">
                                <ul class="nav nav-tabs nav-tabs-line">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#blood_pressure">血压监测</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#blood_sugar">血糖监测</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#temperature">体温监测</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#weight">体重监测</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#heart_rate">心率监测</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#TDS">TDS数字中医</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <!-- 血压检测页面 -->
                                <div role="tabpanel" class="tab-pane active" id="blood_pressure">
                                    <div style="margin-top: 10px;">
                                        <h3>数据图表</h3>
                                        <div id="chart_blood_pressures" style="width: 100%;height:400px;"></div>
                                    </div>

                                    <div style="margin-top: 10px;">
                                        <h3>监测日志</h3>
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>监测日期</th>
                                                    <th>收缩压</th>
                                                    <th>舒张压</th>
                                                    <th>是否异常</th>
                                                </tr>
                                            </thead>
                                            <tbody id="blood_pressures">
                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <!-- 血糖检测页面 -->
                                <div role="tabpanel" class="tab-pane" id="blood_sugar">
                                    <div style="margin-top: 10px;">
                                        <h3>数据图表</h3>
                                        <div id="chart_blood_glucoses" style="width: 100%;height:400px;"></div>
                                    </div>

                                    <div style="margin-top: 10px;">
                                        <h3>监测日志</h3>
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>监测日期</th>
                                                    <th>餐前血糖</th>
                                                    <th>餐后血糖</th>
                                                    <th>是否异常</th>
                                                </tr>
                                            </thead>
                                            <tbody id="blood_glucoses">
                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <!-- 体温检测页面 -->
                                <div role="tabpanel" class="tab-pane" id="temperature">
                                    <div style="margin-top: 10px;">
                                        <h3>数据图表</h3>
                                        <div id="chart_temperatures" style="width: 100%;height:400px;"></div>
                                    </div>

                                    <div style="margin-top: 10px;">
                                        <h3>监测日志</h3>
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>监测日期</th>
                                                    <th>体温 (°C)</th>
                                                    <th>是否异常</th>
                                                </tr>
                                            </thead>
                                            <tbody id="temperatures">
                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <!-- 体重检测页面 -->
                                <div role="tabpanel" class="tab-pane" id="weight">
                                    <div style="margin-top: 10px;">
                                        <h3>数据图表</h3>
                                        <div id="chart_weights" style="width: 100%;height:400px;"></div>
                                    </div>

                                    <div style="margin-top: 10px;">
                                        <h3>监测日志</h3>
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>监测日期</th>
                                                    <th>体重(kg)</th>
                                                    <th>是否异常</th>
                                                </tr>
                                            </thead>
                                            <tbody id="weights">
                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <!-- 心率检测页面 -->
                                <div role="tabpanel" class="tab-pane" id="heart_rate">
                                    <div style="margin-top: 10px;">
                                        <h3>数据图表</h3>
                                        <div id="chart_heart_rates" style="width: 100%;height:400px;"></div>
                                    </div>

                                    <div style="margin-top: 10px;">
                                        <h3>监测日志</h3>
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>监测日期</th>
                                                    <th>心率 (次/分)</th>
                                                    <th>是否异常</th>
                                                </tr>
                                            </thead>
                                            <tbody id="heart_rates">
                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <!-- TDS数字中医页面 -->
                                <div role="tabpanel" class="tab-pane" id="TDS">
                                    <div id="data_table" class="col-xs-12 col-md-12" style="margin-top: 10px;">
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>姓名</th>
                                                    <th>性别</th>
                                                    <th>年龄</th>
                                                    <th>身高</th>
                                                    <th>体重</th>
                                                    <th>监测时间</th>
                                                    <th>报告展示</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>  孙金秀 </td>
                                                    <td>  </td>
                                                    <td>  </td>
                                                    <td>  </td>
                                                    <td>  </td>
                                                    <td>  </td>
                                                    <td>
                                                        <a class="btn btn-block btn-info waves-effect" href="http://www.hsnet.cn/report/report/ybyt/zm_report.aspx?para=010870695870858870">报告展示</a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- End Example Nav Tabs -->
                        </div>
                    </div>
                </div>
                <!-- Tab panes -->
            </div>
        </div>
    </div>
</div>
<script>
    var createTr = function (obj) {
        return "<tr><td>" + obj.join("</td><td>") + "</td></tr>";
    };

    var cbFunction = function(data,status){
        var tabs = ['blood_glucoses', 'blood_pressures', 'temperatures', 'heart_rates', 'weights'];
        var columns = [];
        var columns_blood_pressure_unit = ['收缩压','舒张压'];
        var max_blood_pressure = [];
        var min_blood_pressure = [];
        var blood_pressure_date = [];
        var columns_blood_pressure =[];

        var columns_blood_glucose_unit = ['餐前血糖','餐后血糖'];
        var before_blood_glucose = [];
        var after_blood_glucose = [];
        var blood_glucose_date = [];
        var columns_blood_glucose =[];

        var columns_temperatures_unit = ['体温'];
        var temperatures_value = [];
        var temperatures_date = [];
        var columns_temperatures =[];

        var columns_weights_unit = ['体重'];
        var weights_value = [];
        var weights_date = [];
        var columns_weights =[];

        var columns_heart_rates_unit = ['心率'];
        var heart_rates_value = [];
        var heart_rates_date = [];
        var columns_heart_rates =[];

        for (var k = 0; k < tabs.length; k++) {
            for(var i = 0; i < data[tabs[k]].length; i++){
                switch (tabs[k]) {
                    case 'blood_glucoses':
                        var tr = [data[tabs[k]][i]['datetime'], data[tabs[k]][i]['before_blood_glucose'], data[tabs[k]][i]['after_blood_glucose']];
                        before_blood_glucose.push(data[tabs[k]][i]['before_blood_glucose']);
                        after_blood_glucose.push(data[tabs[k]][i]['after_blood_glucose']);
                        blood_glucose_date.push(data[tabs[k]][i]['datetime']);
                        break;
                    case 'blood_pressures':
                        var tr = [data[tabs[k]][i]['datetime'], data[tabs[k]][i]['max_blood_pressure'], data[tabs[k]][i]['min_blood_pressure']];
                        max_blood_pressure.push(data[tabs[k]][i]['max_blood_pressure']);
                        min_blood_pressure.push(data[tabs[k]][i]['min_blood_pressure']);
                        blood_pressure_date.push(data[tabs[k]][i]['datetime']);
                        break;
                    case 'temperatures':
                        var tr = [data[tabs[k]][i]['datetime'], data[tabs[k]][i]['value']];
                        temperatures_value.push(data[tabs[k]][i]['value']);
                        temperatures_date.push(data[tabs[k]][i]['datetime']);
                        break;
                    case 'heart_rates':
                        var tr = [data[tabs[k]][i]['datetime'], data[tabs[k]][i]['value']];
                        heart_rates_value.push(data[tabs[k]][i]['value']);
                        heart_rates_date.push(data[tabs[k]][i]['datetime']);
                        break;
                    case 'weights':
                        var tr = [data[tabs[k]][i]['datetime'], data[tabs[k]][i]['value']];
                        weights_value.push(data[tabs[k]][i]['value']);
                        weights_date.push(data[tabs[k]][i]['datetime']);
                        break;
                }
                tr.push('正常/正常');
                $('#' + tabs[k]).append($(createTr(tr)));
            }
        }
        columns_blood_pressure.push(columns_blood_pressure_unit,blood_pressure_date,min_blood_pressure,max_blood_pressure);
        columns_blood_glucose.push(columns_blood_glucose_unit,blood_glucose_date,before_blood_glucose,after_blood_glucose);
        columns_temperatures.push(columns_temperatures_unit,temperatures_date,temperatures_value);
        columns_weights.push(columns_weights_unit,weights_date,weights_value);
        columns_heart_rates.push(columns_heart_rates_unit,heart_rates_date,heart_rates_value);
        columns.push(columns_blood_glucose,columns_blood_pressure,columns_temperatures,columns_heart_rates,columns_weights);
        var unit = ["毫克/分升","毫米汞柱","°C","次/分钟","kg"], charts = [],
            createChart = function(id, columns, unit) {
                var name = columns[0]
                columns.shift();
                var date = columns[0]

                columns.shift();
                var myChart = echarts.init(document.getElementById('chart_' + id));
                var option = {
                    tooltip: {
                        trigger: 'axis',
                    },
                    legend: {
                        data: name
                    },
                    xAxis: {
                        data: date
                    },
                    dataZoom: [
                            {
                                type: 'inside',
                                xAxisIndex: [0],
                            },
                            {
                                type: 'slider',
                                show: true,
                                xAxisIndex: [0],
                            },
                    ],
                    yAxis: {},
                    series: []
                };
                for ( i in columns )
                {
                    option.series.push({
                        name: name[i],
                        type: "line",
                        data: columns[i]
                    })
                }
                $(window).bind('resize', function() {
                    myChart.resize();
                })
                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    myChart.resize();
                })
                myChart.setOption(option);
            };
        for (var j = 0; j < tabs.length; j++) {
            charts[j] = createChart(tabs[j], columns[j], unit[j]);
        }
    };

    var bPFunction = function(data,status){
        var max_blood_pressure = [];
        var min_blood_pressure = [];
        var blood_pressure_date = [];

        for (var k = 0; k < data.length; k++) {
            var tr = [data[k].datetime, data[k].max_blood_pressure, data[k].min_blood_pressure];
            max_blood_pressure.push(data[k]['max_blood_pressure']);
            min_blood_pressure.push(data[k]['min_blood_pressure']);
            blood_pressure_date.push(data[k]['datetime']);
            tr.push('正常/正常');
            $('#' + "blood_pressures").append($(createTr(tr)));
        }
    };

    $(function(){
        var uid =  ~~getvl('id');
        if (!uid) {
            swal({title: 'id 错误', type: 'error'}, function() {
                window.close();
            });
            return;
        }
        doAjax(window.baseUrl + "/examination_check/blood_pressure", 'get', {'patient_id': uid,'page':1,'per_page':10}, bPFunction);
    });
</script>
<%- include ../footer %>
