<% if (typeof pjax === "undefined") { %>
    <%- include ../header %>
<% } else { %>
    <title><%= title %></title>
<% } %>
    <div class="page-header">
        <h1 class="page-title"><%= title %></h1>
        <ol class="breadcrumb">
        </ol>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="panel">
                <div class="panel-body">
                    <div class="row row-lg">
                        <div class="col-xl-12 col-xs-12">
                            <!-- Example Nav Tabs -->
                            <div class="nav-tabs">
                                <ul class="nav nav-tabs nav-tabs-line">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#blood_pressure">血压监测</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#blood_sugar">血糖监测</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#temperature">体温监测</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#weight">体重监测</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#heart_rate">心率监测</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#unine">尿酸监测</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#blood_fat">血脂监测</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#ECG_display">心电图展示</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#TDS">TDS数字中医</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <!-- 血压检测页面 -->
                                <div role="tabpanel" class="tab-pane active" id="blood_pressure">
                                    <div style="margin-top: 10px;">
                                        <h3>数据图表</h3>
                                        <div id="chart_blood_pressure_tab" style="width: 100%;height:400px;"></div>
                                    </div>

                                    <div style="margin-top: 10px;">
                                        <h3>监测日志</h3>
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>监测日期</th>
                                                    <th>收缩压</th>
                                                    <th>舒张压</th>
                                                    <th>是否异常</th>
                                                </tr>
                                            </thead>
                                            <tbody id="blood_pressure_tab">
                                            </tbody>
                                        </table>
                                        <div style="text-align: right;" class="paginationDiv"></div>
                                    </div>
                                </div>
                                <!-- 血糖检测页面 -->
                                <div role="tabpanel" class="tab-pane" id="blood_sugar">
                                    <div style="margin-top: 10px;">
                                        <h3>数据图表</h3>
                                        <div id="chart_blood_glucoses" style="width: 100%;height:400px;"></div>
                                    </div>

                                    <div style="margin-top: 10px;">
                                        <h3>监测日志</h3>
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>监测日期</th>
                                                    <th>血糖值</th>
                                                    <th>测量类型</th>
                                                    <th>是否异常</th>
                                                </tr>
                                            </thead>
                                            <tbody id="blood_glucoses">
                                            </tbody>
                                        </table>
                                        <div style="text-align: right;" class="paginationDiv"></div>
                                    </div>
                                </div>
                                <!-- 体温检测页面 -->
                                <div role="tabpanel" class="tab-pane" id="temperature">
                                    <div style="margin-top: 10px;">
                                        <h3>数据图表</h3>
                                        <div id="chart_temperatures" style="width: 100%;height:400px;"></div>
                                    </div>

                                    <div style="margin-top: 10px;">
                                        <h3>监测日志</h3>
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>监测日期</th>
                                                    <th>体温 (°C)</th>
                                                    <th>是否异常</th>
                                                </tr>
                                            </thead>
                                            <tbody id="temperatures">
                                            </tbody>
                                        </table>
                                        <div style="text-align: right;" class="paginationDiv"></div>
                                    </div>
                                </div>
                                <!-- 体重检测页面 -->
                                <div role="tabpanel" class="tab-pane" id="weight">
                                    <div style="margin-top: 10px;">
                                        <h3>数据图表</h3>
                                        <div id="chart_weights" style="width: 100%;height:400px;"></div>
                                    </div>

                                    <div style="margin-top: 10px;">
                                        <h3>监测日志</h3>
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>监测日期</th>
                                                    <th>体重(kg)</th>
                                                    <th>是否异常</th>
                                                </tr>
                                            </thead>
                                            <tbody id="weights">
                                            </tbody>
                                        </table>
                                        <div style="text-align: right;" class="paginationDiv"></div>
                                    </div>
                                </div>
                                <!-- 心率检测页面 -->
                                <div role="tabpanel" class="tab-pane" id="heart_rate">
                                    <div style="margin-top: 10px;">
                                        <h3>数据图表</h3>
                                        <div id="chart_heart_rates" style="width: 100%;height:400px;"></div>
                                    </div>

                                    <div style="margin-top: 10px;">
                                        <h3>监测日志</h3>
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>监测日期</th>
                                                    <th>心率 (次/分)</th>
                                                    <th>是否异常</th>
                                                </tr>
                                            </thead>
                                            <tbody id="heart_rates">
                                            </tbody>
                                        </table>
                                        <div style="text-align: right;" class="paginationDiv"></div>
                                    </div>
                                </div>
                                <!-- 尿酸检测页面 -->
                                <div role="tabpanel" class="tab-pane" id="unine">
                                    <div style="margin-top: 10px;">
                                        <h3>数据图表</h3>
                                        <div id="chart_unines" style="width: 100%;height:400px;"></div>
                                    </div>

                                    <div style="margin-top: 10px;">
                                        <h3>监测日志</h3>
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>监测日期</th>
                                                    <th>尿酸值 (mmol/L)</th>
                                                    <th>是否异常</th>
                                                </tr>
                                            </thead>
                                            <tbody id="unines">
                                            </tbody>
                                        </table>
                                        <div style="text-align: right;" class="paginationDiv"></div>
                                    </div>
                                </div>
                                <!-- 血脂检测页面 -->
                                <div role="tabpanel" class="tab-pane" id="blood_fat">
                                    <div style="margin-top: 10px;">
                                        <h3>数据图表</h3>
                                        <div id="chart_blood_fats" style="width: 100%;height:400px;"></div>
                                    </div>

                                    <div style="margin-top: 10px;">
                                        <h3>监测日志</h3>
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>监测日期</th>
                                                    <th>血脂值 (mmol/L)</th>
                                                    <th>是否异常</th>
                                                </tr>
                                            </thead>
                                            <tbody id="blood_fats">
                                            </tbody>
                                        </table>
                                        <div style="text-align: right;" class="paginationDiv"></div>
                                    </div>
                                </div>
                                <!-- 心电图展示页面 -->
                                <div role="tabpanel" class="tab-pane" id="ECG_display">
                                    <div id="data_table" class="col-xs-12 col-md-12" style="margin-top: 10px;">
                                        <div style="margin-top: 10px;">
                                            <h3>心电图表展示</h3>
                                            <div id="ECGdata" style="width: 100%;height:500px;"></div>
                                        </div>
                                        <!-- <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>编号</th>
                                                    <th>检测时间</th>
                                                    <th>查看记录</th>
                                                </tr>
                                            </thead>
                                            <tbody id="ECGdata">
                                            </tbody>
                                        </table> -->
                                        <div style="text-align: right;" class="paginationDiv"></div>
                                    </div>
                                </div>
                                <!-- TDS数字中医页面 -->
                                <div role="tabpanel" class="tab-pane" id="TDS">
                                    <div id="data_table" class="col-xs-12 col-md-12" style="margin-top: 10px;">
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>编号</th>
                                                    <th>检测时间</th>
                                                    <th>查看记录</th>
                                                </tr>
                                            </thead>
                                            <tbody id="TDSdata">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- End Example Nav Tabs -->
                        </div>
                    </div>
                </div>
                <!-- Tab panes -->
            </div>
        </div>
    </div>

<script>
$(function(){
    var uid =  ~~getvl('id');
    if (!uid) {
        swal({title: 'id 错误', type: 'error'}, function() {
            window.close();
        });
    }

    var todayData =new Date().Format("yyyy-MM-dd");
    var startDate="2016-1-1";

    var createTr = function (obj) {
        return "<tr><td>" + obj.join("</td><td>") + "</td></tr>";
    };

    var createErrTr = function (obj) {
        return "<tr><td style='color:red'>" + obj.join("</td><td style='color:red'>") + "</td></tr>";
    };

    function createChart(obj,data){
        var myChart = echarts.init(document.getElementById(obj));
        var option = {
            tooltip: {
                trigger: 'axis',
            },
            xAxis: {
                data: data.date
            },
            dataZoom: [
                    {
                        type: 'inside',
                        xAxisIndex: [0],
                    },
                    {
                        type: 'slider',
                        show: true,
                        xAxisIndex: [0],
                    },
            ],
            yAxis: {},
            series: []
        };
        option.series = data.series;

        $(window).bind('resize', function() {
            myChart.resize();
        })
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            myChart.resize();
        })
        myChart.setOption(option);
    }

    var bSFunction = function(data,status){
        var data = data["data"];
        $("#blood_sugar table tbody").html("");
        for (var k = 0; k < data.length; k++) {
            var value = [];
            var item_type = [];
            var blood_glucose_date = [];
            value.push(data[k]['value']);
            if (data[k].item_type === 1) {
                data[k].item_type = '餐前血糖'
            } else if (data[k].item_type === 2){
                data[k].item_type = '餐后血糖'
            } else if (data[k].item_type === 3){
                data[k].item_type ='睡前血糖';
            } else if (data[k].item_type === 4){
                data[k].item_type ='睡后血糖';
            }else {
                data[k].item_type = '';
            }
            var tr = [data[k].datetime, data[k].value, data[k].item_type];
            blood_glucose_date.push(data[k]['datetime']);
            tr.push(data[k].status1);
            if (data[k].status1 === '正常') {
                $("#blood_glucoses").append($(createTr(tr)));
            } else {
                $("#blood_glucoses").append($(createErrTr(tr)));
            }
        }
    };

    var bSEchartFunction = function(data,status){
        var before_blood_glucose = [];
        var after_blood_glucose = [];
        var blood_glucose_date = [];
        var data = data["data"];
        for (var k = 0; k < data.length; k++) {
            var tr = [data[data.length - 1 - k].datetime, data[data.length - 1 - k].before_blood_glucose, data[data.length - 1 - k].after_blood_glucose];
            before_blood_glucose.push(data[data.length - 1 - k]['before_blood_glucose']);
            after_blood_glucose.push(data[data.length - 1 - k]['after_blood_glucose']);
            blood_glucose_date.push(data[data.length - 1 - k]['datetime']);
        }
        var chart_data = {
            date: blood_glucose_date,
            series: [
                {
                    name:'餐前血糖',
                    type:'line',
                    data:before_blood_glucose,
                },
                {
                    name:'餐后血糖',
                    type:'line',
                    data:after_blood_glucose,
                }]
        };
        createChart("chart_blood_glucoses",chart_data);
    };

    var bPFunction = function(data,status) {
        var max_blood_pressure = [];
        var min_blood_pressure = [];
        var blood_pressure_date = [];
        var data = data["data"];
        $("#blood_pressure table tbody").html("");
        for (var k = 0; k < data.length; k++) {
            var tr = [data[k].datetime, data[k].max_blood_pressure, data[k].min_blood_pressure];
            max_blood_pressure.push(data[k]['max_blood_pressure']);
            min_blood_pressure.push(data[k]['min_blood_pressure']);
            blood_pressure_date.push(data[k]['datetime']);
            tr.push(data[k].status2 + '/' + data[k].status1);
            if ((data[k].status1 === '正常') && (data[k].status2 === '正常')) {
                $("#blood_pressure_tab").append($(createTr(tr)));
            } else {
                $("#blood_pressure_tab").append($(createErrTr(tr)));
            }
        }
    };
    var bPEchartFunction = function(data,status) {
        var max_blood_pressure = [];
        var min_blood_pressure = [];
        var blood_pressure_date = [];
        var data = data["data"];
        for (var k = 0; k < data.length; k++) {
            var tr = [data[data.length - 1 - k].datetime, data[data.length - 1 - k].max_blood_pressure, data[data.length - 1 - k].min_blood_pressure];
            max_blood_pressure.push(data[data.length - 1 - k]['max_blood_pressure']);
            min_blood_pressure.push(data[data.length - 1 - k]['min_blood_pressure']);
            blood_pressure_date.push(data[data.length - 1 - k]['datetime']);
        }
        var chart_data = {
            date: blood_pressure_date,
            series: [
                {
                    name:'收缩压',
                    type:'line',
                    data:max_blood_pressure,
                },
                {
                    name:'舒张压',
                    type:'line',
                    data:min_blood_pressure,
                }]
        };
        createChart("chart_blood_pressure_tab",chart_data)
    };

    var temperatureFunction = function(data,status){
        var temperatures_value = [];
        var temperatures_date = [];
        var data = data["data"];
        $("#temperature table tbody").html("");
        for (var k = 0; k < data.length; k++) {
            var tr = [data[k].datetime, data[k].value];
            temperatures_value.push(data[k]['value']);
            temperatures_date.push(data[k]['datetime']);
            tr.push(data[k].status);
            if (data[k].status === '正常') {
                $("#temperatures").append($(createTr(tr)));
            } else {
                $("#temperatures").append($(createErrTr(tr)));
            }
        }
    };

    var temperatureEchartFunction = function(data,status){
        var temperatures_value = [];
        var temperatures_date = [];
        var data = data["data"];
        for (var k = 0; k < data.length; k++) {
            var tr = [data[data.length - 1 - k].datetime, data[data.length - 1 - k].value];
            temperatures_value.push(data[data.length - 1 - k]['value']);
            temperatures_date.push(data[data.length - 1 - k]['datetime']);
        }
        var chart_data = {
            date: temperatures_date,
            series: [
                {
                    name:'体温',
                    type:'line',
                    data:temperatures_value,
                }]
        };
        createChart("chart_temperatures",chart_data);
    };

    var weightFunction = function(data,status){
        var weights_value = [];
        var weights_date = [];
        var data = data["data"];
        $("#weight table tbody").html("");
        for (var k = 0; k < data.length; k++) {
            var tr = [data[k].datetime, data[k].value];
            weights_value.push(data[k]['value']);
            weights_date.push(data[k]['datetime']);
            tr.push(data[k].status);
            if (data[k].status === '正常') {
                $("#weights").append($(createTr(tr)));
            } else {
                $("#weights").append($(createErrTr(tr)));
            }
        }
    };
    var weightEchartFunction = function(data,status){
        var weights_value = [];
        var weights_date = [];
        var data = data["data"];
        for (var k = 0; k < data.length; k++) {
            var tr = [data[data.length - 1 - k].datetime, data[data.length - 1 - k].value];
            weights_value.push(data[data.length - 1 - k]['value']);
            weights_date.push(data[data.length - 1 - k]['datetime']);
        }
        var chart_data = {
            date: weights_date,
            series: [
                {
                    name:'体重',
                    type:'line',
                    data:weights_value,
                }]
        };
        createChart("chart_weights",chart_data);
    };

    var heartRateFunction = function(data,status){
        var heart_rates_value = [];
        var heart_rates_date = [];
        var data = data["data"];
        $("#heart_rate table tbody").html("");
        for (var k = 0; k < data.length; k++) {
            var tr = [data[k].datetime, data[k].value];
            heart_rates_value.push(data[k]['value']);
            heart_rates_date.push(data[k]['datetime']);
            tr.push(data[k].status);
            if (data[k].status === '正常') {
                $("#heart_rates").append($(createTr(tr)));
            } else {
                $("#heart_rates").append($(createErrTr(tr)));
            }
        }
    };

    var heartRateEchartFunction = function(data,status){
        var heart_rates_value = [];
        var heart_rates_date = [];
        var data = data["data"];
        for (var k = 0; k < data.length; k++) {
            var tr = [data[data.length - 1 - k].datetime, data[data.length - 1 - k].value];
            heart_rates_value.push(data[data.length - 1 - k]['value']);
            heart_rates_date.push(data[data.length - 1 - k]['datetime']);
        }
        var chart_data = {
            date: heart_rates_date,
            series: [
                {
                    name:'心率',
                    type:'line',
                    data:heart_rates_value,
                }]
        };
        createChart("chart_heart_rates",chart_data);
    };

    var unineFunction = function(data,status){
        var unine_value = [];
        var unine_date = [];
        var data = data["data"];
        $("#unine table tbody").html("");
        for (var k = 0; k < data.length; k++) {
            var tr = [data[k].datetime, data[k].value];
            unine_value.push(data[k]['value']);
            unine_date.push(data[k]['datetime']);
            tr.push(data[k].status);
            if (data[k].status === '正常') {
                $("#unines").append($(createTr(tr)));
            } else {
                $("#unines").append($(createErrTr(tr)));
            }
        }
    };

    var unineEchartFunction = function(data,status){
        var unine_value = [];
        var unine_date = [];
        var data = data["data"];
        for (var k = 0; k < data.length; k++) {
            var tr = [data[data.length - 1 - k].datetime, data[data.length - 1 - k].value];
            unine_value.push(data[data.length - 1 - k]['value']);
            console.log(data[data.length - 1 - k]['value']);
            unine_date.push(data[data.length - 1 - k]['datetime']);
        }
        var chart_data = {
            date: unine_date,
            series: [
                {
                    name:'尿酸',
                    type:'line',
                    data:unine_value,
                }]
        };
        createChart("chart_unines",chart_data);
    };

    var bloodFatFunction = function(data,status){
        var blood_fat_value = [];
        var blood_fat_date = [];
        var data = data["data"];
        $("#blood_fat table tbody").html("");
        for (var k = 0; k < data.length; k++) {
            var tr = [data[k].datetime, data[k].value];
            blood_fat_value.push(data[k]['value']);
            blood_fat_date.push(data[k]['datetime']);
            tr.push(data[k].status);
            if (data[k].status === '正常') {
                $("#blood_fats").append($(createTr(tr)));
            } else {
                $("#blood_fats").append($(createErrTr(tr)));
            }
        }
    };

    var bloodFatEchartFunction = function(data,status){
        var blood_fat_value = [];
        var blood_fat_date = [];
        var data = data["data"];
        for (var k = 0; k < data.length; k++) {
            var tr = [data[data.length - 1 - k].datetime, data[data.length - 1 - k].value];
            blood_fat_value.push(data[data.length - 1 - k]['value']);
            blood_fat_date.push(data[data.length - 1 - k]['datetime']);
        }
        var chart_data = {
            date: blood_fat_date,
            series: [
                {
                    name:'尿酸',
                    type:'line',
                    data:blood_fat_value,
                }]
        };
        createChart("chart_blood_fats",chart_data);
    };

    var createECGView = function(data){
        $("#ECG_display #data_table #ECGdata").html('');
        if (data){
            var hexHash = data.data[0].value;

            var hex2str = function(str) {
                var pos = 0;
                var len = str.length;
                if (len %2 != 0) {
                    return null;
                }
                len /= 2;
                var hexA = [];
                for (var i=0; i < len; i++) {
                    var s = str.substr(pos, 2);
                    var v = parseInt(s, 16);
                    hexA.push(String.fromCharCode(v));
                    pos += 2;
                }
                return hexA;
            }

            var getPngSrc = function(hex) {
                var str = hex2str(hex);
                if (!str) {
                    return false;
                }
                return 'data:image/png;base64,' + btoa(str.join(''));
            }

            var src = getPngSrc(hexHash);
            if (src) {
                $("#ECGdata").append($("<img width=500px height=500px>").attr("src", src));
            }
        }
    };
    var createTDSDom = function (dom,id){
        var template2 = '\n\
        <tr>\n\
            <td>{__id__}</td>\n\
            <td>{__time__}</td>\n\
            <td>\n\
                <div>\n\
                    <a class="btn btn-outline btn-success btn-sm" href="{__report_url__}"> 查看记录</a>\n\
                </div>\n\
            </td>\n\
        </tr>'
        return template2.replace(/\{__id__\}/g, id)
            .replace(/\{__time__\}/g, dom["created_at"].substr(0,10))
            .replace(/\{__report_url__\}/g, dom["report_url"]);
    };

    $(".nav-tabs .nav-link").on('click',function(){
        where = $(this).text()
        if ($(this).data("apiget")){
            return true;
        }
        if (where === "血压监测"){
            $(this).data("apiget",true)
            doAjax(window.baseUrl + "/examination_check/blood_pressure", 'get', {'patient_id': uid,'start_date': startDate,'end_date': todayData,'page':0,'per_page':0}, bPEchartFunction);
            var paginationDiv = $("#blood_pressure").find(".paginationDiv");
            if (paginationDiv.pagination()) {
                paginationDiv.pagination('destroy');
            }
            paginationDiv.pagination({
                pageSize: 10,
                loadFirstPage: true,
                remote: {
                    url: window.baseUrl + "/examination_check/blood_pressure",
                    beforeSend: function (XHR) {
                        XHR.setRequestHeader('access-authorization', $.cookie('access_token'));
                    },
                    success: bPFunction,
                    params: {'patient_id': uid, 'start_date': startDate, 'end_date': todayData},
                    pageParams: function(data) {
                        return {
                            'page': data.pageIndex + 1,
                            'per_page': data.pageSize
                        };
                    },
                    totalName: 'meta.total'
                }
            });
            return true;
        } else if (where === "血糖监测") {
            $(this).data("apiget",true)
            doAjax(window.baseUrl + "/examination_check/blood_glucose", 'get', {'patient_id': uid,'start_date': startDate,'end_date': todayData,'page':0,'per_page':0}, bSEchartFunction);
            var paginationDiv = $("#blood_sugar").find(".paginationDiv");
            if (paginationDiv.pagination()) {
                paginationDiv.pagination('destroy');
            }
            paginationDiv.pagination({
                pageSize: 10,
                loadFirstPage: true,
                remote: {
                    url: window.baseUrl + "/examination_check/blood_glucose",
                    beforeSend: function (XHR) {
                        XHR.setRequestHeader('access-authorization', $.cookie('access_token'));
                    },
                    success: bSFunction,
                    params: {'patient_id': uid, 'start_date': startDate, 'end_date': todayData},
                    pageParams: function(data) {
                        return {
                            'page': data.pageIndex + 1,
                            'per_page': data.pageSize
                        };
                    },
                    totalName: 'meta.total'
                }
            });
            return true;
        } else if (where === "体温监测") {
            $(this).data("apiget",true)
            doAjax(window.baseUrl + "/examination_check/temperature", 'get', {'patient_id': uid,'start_date': startDate,'end_date': todayData,'page':0,'per_page':0}, temperatureEchartFunction);
            var paginationDiv = $("#temperature").find(".paginationDiv");
            if (paginationDiv.pagination()) {
                paginationDiv.pagination('destroy');
            }
            paginationDiv.pagination({
                pageSize: 10,
                loadFirstPage: true,
                remote: {
                    url: window.baseUrl + "/examination_check/temperature",
                    beforeSend: function (XHR) {
                        XHR.setRequestHeader('access-authorization', $.cookie('access_token'));
                    },
                    success: temperatureFunction,
                    params: {'patient_id': uid, 'start_date': startDate, 'end_date': todayData},
                    pageParams: function(data) {
                        return {
                            'page': data.pageIndex + 1,
                            'per_page': data.pageSize
                        };
                    },
                    totalName: 'meta.total'
                }
            });
            return true;
        } else if (where === "体重监测") {
            $(this).data("apiget",true)
            doAjax(window.baseUrl + "/examination_check/weight", 'get', {'patient_id': uid,'start_date': startDate,'end_date': todayData,'page':0,'per_page':0}, weightEchartFunction);
            var paginationDiv = $("#weight").find(".paginationDiv");
            if (paginationDiv.pagination()) {
                paginationDiv.pagination('destroy');
            }
            paginationDiv.pagination({
                pageSize: 10,
                loadFirstPage: true,
                remote: {
                    url: window.baseUrl + "/examination_check/weight",
                    beforeSend: function (XHR) {
                        XHR.setRequestHeader('access-authorization', $.cookie('access_token'));
                    },
                    success: weightFunction,
                    params: {'patient_id': uid, 'start_date': startDate, 'end_date': todayData},
                    pageParams: function(data) {
                        return {
                            'page': data.pageIndex + 1,
                            'per_page': data.pageSize
                        };
                    },
                    totalName: 'meta.total'
                }
            });
            return true;
        } else if (where === "心率监测") {
            $(this).data("apiget", true);
            doAjax(window.baseUrl + "/examination_check/heart_rate", 'get', {'patient_id': uid,'start_date': startDate,'end_date': todayData,'page':0,'per_page':0}, heartRateEchartFunction);
            var paginationDiv = $("#heart_rate").find(".paginationDiv");
            if (paginationDiv.pagination()) {
                paginationDiv.pagination('destroy');
            }
            paginationDiv.pagination({
                pageSize: 10,
                loadFirstPage: true,
                remote: {
                    url: window.baseUrl + "/examination_check/heart_rate",
                    beforeSend: function (XHR) {
                        XHR.setRequestHeader('access-authorization', $.cookie('access_token'));
                    },
                    success: heartRateFunction,
                    params: {'patient_id': uid, 'start_date': startDate, 'end_date': todayData},
                    pageParams: function(data) {
                        return {
                            'page': data.pageIndex + 1,
                            'per_page': data.pageSize
                        };
                    },
                    totalName: 'meta.total'
                }
            });
            return true;
        } else if (where === "尿酸监测") {
            $(this).data("apiget", true);
            doAjax(window.baseUrl + "/examination_check/unine", 'get', {'patient_id': uid,'start_date': startDate,'end_date': todayData,'page':0,'per_page':0}, unineEchartFunction);
            var paginationDiv = $("#unine").find(".paginationDiv");
            if (paginationDiv.pagination()) {
                paginationDiv.pagination('destroy');
            }
            paginationDiv.pagination({
                pageSize: 10,
                loadFirstPage: true,
                remote: {
                    url: window.baseUrl + "/examination_check/unine",
                    beforeSend: function (XHR) {
                        XHR.setRequestHeader('access-authorization', $.cookie('access_token'));
                    },
                    success: unineFunction,
                    params: {'patient_id': uid, 'start_date': startDate, 'end_date': todayData},
                    pageParams: function(data) {
                        return {
                            'page': data.pageIndex + 1,
                            'per_page': data.pageSize
                        };
                    },
                    totalName: 'meta.total'
                }
            });
            return true;
        } else if (where === "血脂监测") {
            $(this).data("apiget", true);
            doAjax(window.baseUrl + "/examination_check/blood_fat", 'get', {'patient_id': uid,'start_date': startDate,'end_date': todayData,'page':0,'per_page':0}, bloodFatEchartFunction);
            var paginationDiv = $("#blood_fat").find(".paginationDiv");
            if (paginationDiv.pagination()) {
                paginationDiv.pagination('destroy');
            }
            paginationDiv.pagination({
                pageSize: 10,
                loadFirstPage: true,
                remote: {
                    url: window.baseUrl + "/examination_check/blood_fat",
                    beforeSend: function (XHR) {
                        XHR.setRequestHeader('access-authorization', $.cookie('access_token'));
                    },
                    success: bloodFatFunction,
                    params: {'patient_id': uid, 'start_date': startDate, 'end_date': todayData},
                    pageParams: function(data) {
                        return {
                            'page': data.pageIndex + 1,
                            'per_page': data.pageSize
                        };
                    },
                    totalName: 'meta.total'
                }
            });
            return true;
        } else if (where === "心电图展示") {
            $(this).data("apiget",true)
            var paginationDiv = $("#ECG_display").find(".paginationDiv");
            if (paginationDiv.pagination()) {
                paginationDiv.pagination('destroy');
            }
            paginationDiv.pagination({
                pageSize: 1,
                loadFirstPage: true,
                remote: {
                    url: window.baseUrl + "/examination_check/ecg",
                    beforeSend: function (XHR) {
                        XHR.setRequestHeader('access-authorization', $.cookie('access_token'));
                    },
                    success: createECGView,
                    params: {'patient_id': uid, 'start_date': startDate, 'end_date': todayData},
                    pageParams: function(data) {
                        return {
                            'page': data.pageIndex + 1,
                            'per_page': data.pageSize
                        };
                    },
                    totalName: 'meta.total'
                }
            });
            return true;
        } else if (where === "TDS数字中医") {
            $(this).data("apiget",true)
            doAjax(window.baseUrl + "/tds/check", 'get', {'patient_id': uid}, function(data, status){
                if (status && data){
                    for(var i = 0;i < data.length;i++){
                        var name = data[i];
                        var id = i+1;
                        $("#TDSdata").append($(createTDSDom(name,id)));
                    }
                }
            });
            return true;
        }
    });
    $(".nav-tabs .nav-link.active").click();
});
</script>
<% if (typeof pjax === "undefined") { %>
    <%- include ../footer %>
<% } %>
