<% if (typeof pjax === "undefined") { %>
    <%- include ../header %>
<% } else { %>
    <title><%= title %></title>
<% } %>
    <div class="page-header">
        <h1 class="page-title"><%= title %></h1>
        <ol class="breadcrumb">
        </ol>
    </div>
    <div class="page-content container">
        <div class="row">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">添加新记录</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-5 offset-md-1">
                            <div class="form-group form-material floating" data-plugin="formMaterial">
                                <label class="form-control-label" for="id_number">身份证号</label>
                                <input type="text" class="form-control empty" name="id_number" id="id_number"  oninput="doSearch(this)" maxlength="18">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5">
                            <div class="form-group form-material">
                                <label class="form-control-label" for="sex">性别</label>
                                <div style="margin-top: 12px;">
                                    <div class="radio-custom radio-primary radio-inline">
                                        <input type="radio" id="sex1" name="sex" disabled="disabled">
                                        <label for="sex1">男</label>
                                    </div>
                                    <div class="radio-custom radio-primary radio-inline">
                                        <input type="radio" id="sex2" name="sex" disabled="disabled">
                                        <label for="sex2">女</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-5 offset-md-1">
                            <div class="form-group form-material floating" data-plugin="formMaterial">
                                <label class="form-control-label" for="name">姓名</label>
                                <input type="text" class="form-control empty" name="name" disabled="disabled" id="name">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5">
                            <div class="form-group form-material floating" data-plugin="formMaterial">
                                <label class="form-control-label" for="nation">手机号码</label>
                                <input type="text" class="form-control empty" name="phone" disabled="disabled" id="phone">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group form-material">
                                <label class="form-control-label" for="id_number_c1">心率</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="id_number_c1" name="heart_rate" onchange="numberTest(this)">
                                    <span class="input-group-addon">次/分</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <button type="submit" class="btn btn-block btn-success" id="submitResult" onclick="submitForm();" disabled>提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    var searching = false;
    var numberTest = function (dom) {
        if(!/^\d*(\.\d{1,2})?$/.test(dom.value) || dom.value < 0 || dom.value > 10000 || dom.value == 0){swal('请填写正确数字');dom.value=''}
    };
    var doSearch = function(dom) {
        var val = dom.value.toLocaleUpperCase();
        if (val.length === 18 && checkIdCard(val) && !searching) {
            searching = true;
            doAjax(window.baseUrl + "/patient/get_by_id_number", "get", {"id_number": val}, function(data, status) {
                searching = false;
                if (status && data) {
                    $("#sex" + ({"男": "1", "女": "2"})[data["sex"]]).prop("checked", true);
                    $("#name").val(data["name"]);
                    $("#phone").val(data["phone"]);
                    $("#submitResult").prop("disabled",false);
                } else {
                    $("input:radio[id^='sex']").prop("checked", false);
                    $("#name").val("");
                    $("#phone").val("");
                }
            });
        } else {
            $("input:radio[id^='sex']").prop("checked", false);
            $("#name").val("");
            $("#phone").val("");
        }
    };

     var getCurrent = function() {
       doAjax(window.baseUrl + "/users/current_user",
        "get",{}, function(data, status){ 
            return data.id;      
          
        }) 
    };
    var showData = function(){
        doAjax(window.baseUrl + "/users/current_user",
        "get",{}, function(data, status){ 
            doAjax(window.baseUrl + "/examination_input/get_auto_identity_card",
        "get", {"id": data.id},function(data, status){
            console.log(data, status);
            if(data ==="no_id"){
                $('#id_number').val(' ')
            }else{
            $('#id_number').val(data);
        }
        })     
          
        }) 
        
    };
    showData();
    var submitForm = function(){
        var id_number_c1 = $("#id_number_c1").val();
        if(!id_number_c1) {
            swal("请填入数据","","error");
            return false;
        }
        swal({
            title:"确认提交",
            text:"请核对提交数据:\n心率:"+$("#id_number_c1").val(),
            type:"warning",
            showCancelButton:true,
            confirmButtonClass: "btn-danger",
            confirmButtonText:"提交",
            cancelButtonText:"取消",
            closeOnConfirm:false,
            closeOnCancel:true,
            showLoaderOnConfirm: true
        },
        function(isConfirm){
            if(isConfirm){
                doAjax(window.baseUrl + "/examination_input/heart_rate","post",
                    {"id_number":$("#id_number").val(),"heart_rate":$("#id_number_c1").val()},
                    function(data,status){
                        if(status && data){
                            swal({
                                title: data.info || "提交成功",
                                type: "success"
                            },
                            function(){
                                $("input:radio[id^='sex']").prop("checked", false);
                                $("input").val("");
                                $("#submitResult").prop("disabled", true);
                            });
                        }else{
                            swal(JSON.parse(data.reponseText).error || "提交失败", "", "error");
                        }
                    }
                );
            }

        });

    };
</script>
<% if (typeof pjax === "undefined") { %>
    <%- include ../footer %>
<% } %>
