<% if (typeof pjax === "undefined") { %>
    <%- include adminHeader %>
        <% } else { %>
            <title>
                <%= title %>
            </title>
            <% } %>
                <link rel="stylesheet" href="/stylesheets/titles.css">
                <div class="page-header">
                    <h1 class="page-title">
                        <%= title %>
                    </h1>
                    <ol class="breadcrumb">
                    </ol>
                </div>


                <div class="page-content">
                    <div class="panel">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-primary panel-bordered">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">体系预览</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div id="jstreeExample_8"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel nav-tabs-horizontal" data-plugin="tabs">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">院内人员展示</h3>
                                    </div>
                                    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#exampleTopHome" aria-controls="exampleTopHome"
                                                role="tab" aria-expanded="true"><i class="icon md-home" aria-hidden="true"></i>院长</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#exampleTopComponents" aria-controls="exampleTopComponents"
                                                role="tab" aria-expanded="false"><i class="icon md-account" aria-hidden="true"></i>科室主任</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#exampleTopCss" aria-controls="exampleTopCss"
                                                role="tab" aria-expanded="false"><i class="icon md-label" aria-hidden="true"></i>主治医生</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#exampleTopJavascript" aria-controls="exampleTopJavascript"
                                                role="tab" aria-expanded="false"><i class="icon md-cloud" aria-hidden="true"></i>健康管理师</a></li>
                                        <li class="dropdown nav-item" style="display: none;">
                                            <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" aria-expanded="false" aria-haspopup="true">Dropdown </a>
                                            <div class="dropdown-menu" role="menu">
                                                <a class="dropdown-item" data-toggle="tab" href="#exampleTopHome" aria-controls="exampleTopHome" role="tab"><i class="icon md-home" aria-hidden="true"></i>Home</a>
                                                <a class="dropdown-item" data-toggle="tab" href="#exampleTopComponents" aria-controls="exampleTopComponents" role="tab"><i class="icon md-account" aria-hidden="true"></i>Components</a>
                                                <a class="dropdown-item" data-toggle="tab" href="#exampleTopCss" aria-controls="exampleTopCss" role="tab"><i class="icon md-label" aria-hidden="true"></i>CSS</a>
                                                <a class="dropdown-item" data-toggle="tab" href="#exampleTopJavascript" aria-controls="exampleTopJavascript" role="tab"><i class="icon md-cloud" aria-hidden="true"></i>JavaScript</a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="exampleTopHome" role="tabpanel" aria-expanded="true">
                                                Conturbamur senectutem saepti statua, putanda homini acuti dialectica levamur urbanitas animadversionem mala se depulsa,
                                                magis nihilo efficeret tenetur cives gloriae concursio defendit conscientiam
                                                nascuntur, refugiendi defendit falsi platonem paranda metum iustioribus cognita
                                                robustus, tuum omnia usque omnis temperantiam quaeri electram.
                                            </div>
                                            <div class="tab-pane" id="exampleTopComponents" role="tabpanel" aria-expanded="false">
                                                Protervi dissensio consuetudine equos publicam ingenia. Voluptatibus legendus initia confirmare sententiam. Desistunt possint
                                                habeatur dediti dubio, triarium is offendimur reprehenderit exercitus laudabilis
                                                motus celeritas, utrum dissentio renovata, habet partus natus. Iustius disserunt,
                                                quantum ennii admodum divinum mortem elaborare primum autem.
                                            </div>
                                            <div class="tab-pane" id="exampleTopCss" role="tabpanel" aria-expanded="false">
                                                Incurrunt latinam, faciendi dedecora evertitur delicatissimi, afficit noctesque detracta illustriora epicurum contenta rogatiuncula
                                                dolores perspecta indocti, eveniunt confirmatur tractat consuevit durissimis
                                                iuvaret coercendi familiarem. Dolere prima fortunae intellegamus vix porro
                                                huic errorem molestum, graecos deinde effugiendorum aliter appetendum afferrent
                                                eosdem.
                                            </div>
                                            <div class="tab-pane" id="exampleTopJavascript" role="tabpanel" aria-expanded="false">
                                                Dediti iniuste vitae dedecora victi, pueros vulgo adhibenda at gravis epicurus alii facerem, aetatis. Rectas, splendide sensus
                                                ruinae dolendum audire ipse, loca mollis manilium concordia depravate congressus
                                                fruenda. Nocet magna tradere hunc grata gloriosis animus dum consumere gravissimas.
                                                Erunt alii.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

                <link rel="stylesheet" href="/stylesheets/jstree.min.css">
                <script src="/javascripts/jstree.min.js"></script>
                <script>
                    $(function () {
                        $('#jstreeExample_8')
                            .on('create_node.jstree', function (e, data) {
                                if (data.node.parents.length == 2) {
                                    data.instance.set_icon(data.node, "/images/level2.png")
                                    data.instance.rename_node(data.node, "卫生院")
                                } else if (data.node.parents.length == 3) {
                                    data.instance.set_icon(data.node, "/images/level3.png")
                                    data.instance.rename_node(data.node, "卫生室")
                                }
                                console.log(data)
                            })
                            .jstree({
                                'core': {
                                    "check_callback": true,
                                    'data': [{
                                        'text': 'Root node 2',
                                        "icon": "/images/level1.png",
                                        'state': {
                                            'opened': true,
                                            'selected': true
                                        },
                                        'children': [{
                                            'text': 'Child 1',
                                            "icon": "/images/level2.png"
                                        }, {
                                            'text': 'Child 2',
                                            "icon": "/images/level2.png"
                                        }]
                                    }]
                                },
                                "types": {
                                    "default": {
                                        "max_depth": 2
                                    },
                                    "demo": {
                                        "icon": "glyphicon glyphicon-ok"
                                    }
                                },
                                'plugins': ['contextmenu', 'types'],
                            });
                    });
                </script>
                <% if (typeof pjax === "undefined") { %>
                    <%- include ../footer %>
                        <% } %>