<% if (typeof pjax === "undefined") { %>
    <%- include adminHeader %>
        <% } else { %>
            <title>
                <%= title %>
            </title>
            <% } %>
                <link rel="stylesheet" href="/stylesheets/titles.css">
                <div class="page-header">
                    <h1 class="page-title">
                        <%= title %>
                    </h1>
                    <ol class="breadcrumb">
                    </ol>
                </div>


                <div class="page-content">
                    <div class="panel">
                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <div class="panel panel-primary panel-bordered">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">体系预览</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div id="jstreeExample_8"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="panel nav-tabs-horizontal" data-plugin="tabs">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">院内人员展示</h3>
                                    </div>
                                    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#yuan_top" aria-controls="yuan_top"
                                                role="tab" aria-expanded="true"><i class="icon md-home" aria-hidden="true"></i>院长</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#yuan_zhuren" aria-controls="yuan_zhuren"
                                                role="tab" aria-expanded="false"><i class="icon md-account" aria-hidden="true"></i>科室主任</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#yuan_yisheng" aria-controls="yuan_yisheng"
                                                role="tab" aria-expanded="false"><i class="icon md-label" aria-hidden="true"></i>主治医生</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#yuan_jiankang" aria-controls="yuan_jiankang"
                                                role="tab" aria-expanded="false"><i class="icon md-cloud" aria-hidden="true"></i>健康管理师</a></li>
                                        <li class="dropdown nav-item" style="display: none;">
                                            <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" aria-expanded="false" aria-haspopup="true">Dropdown </a>
                                            <div class="dropdown-menu" role="menu">
                                                <a class="dropdown-item" data-toggle="tab" href="#yuan_top" aria-controls="yuan_top" role="tab"><i class="icon md-home" aria-hidden="true"></i>院长</a>
                                                <a class="dropdown-item" data-toggle="tab" href="#yuan_zhuren" aria-controls="yuan_zhuren" role="tab"><i class="icon md-account" aria-hidden="true"></i>科室主任</a>
                                                <a class="dropdown-item" data-toggle="tab" href="#yuan_yisheng" aria-controls="yuan_yisheng" role="tab"><i class="icon md-label" aria-hidden="true"></i>主治医生</a>
                                                <a class="dropdown-item" data-toggle="tab" href="#yuan_jiankang" aria-controls="yuan_jiankang" role="tab"><i class="icon md-cloud" aria-hidden="true"></i>健康管理师</a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="yuan_top" role="tabpanel" aria-expanded="true">
                                                Conturbamur senectutem saepti statua, putanda homini acuti dialectica levamur urbanitas animadversionem mala se depulsa,
                                                magis nihilo efficeret tenetur cives gloriae concursio defendit conscientiam
                                                nascuntur, refugiendi defendit falsi platonem paranda metum iustioribus cognita
                                                robustus, tuum omnia usque omnis temperantiam quaeri electram.
                                            </div>
                                            <div class="tab-pane" id="yuan_zhuren" role="tabpanel" aria-expanded="false">
                                                Protervi dissensio consuetudine equos publicam ingenia. Voluptatibus legendus initia confirmare sententiam. Desistunt possint
                                                habeatur dediti dubio, triarium is offendimur reprehenderit exercitus laudabilis
                                                motus celeritas, utrum dissentio renovata, habet partus natus. Iustius disserunt,
                                                quantum ennii admodum divinum mortem elaborare primum autem.
                                            </div>
                                            <div class="tab-pane" id="yuan_yisheng" role="tabpanel" aria-expanded="false">
                                                Incurrunt latinam, faciendi dedecora evertitur delicatissimi, afficit noctesque detracta illustriora epicurum contenta rogatiuncula
                                                dolores perspecta indocti, eveniunt confirmatur tractat consuevit durissimis
                                                iuvaret coercendi familiarem. Dolere prima fortunae intellegamus vix porro
                                                huic errorem molestum, graecos deinde effugiendorum aliter appetendum afferrent
                                                eosdem.
                                            </div>
                                            <div class="tab-pane" id="yuan_jiankang" role="tabpanel" aria-expanded="false">
                                                Dediti iniuste vitae dedecora victi, pueros vulgo adhibenda at gravis epicurus alii facerem, aetatis. Rectas, splendide sensus
                                                ruinae dolendum audire ipse, loca mollis manilium concordia depravate congressus
                                                fruenda. Nocet magna tradere hunc grata gloriosis animus dum consumere gravissimas.
                                                Erunt alii.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

                <link rel="stylesheet" href="/stylesheets/jstree.min.css">
                <script src="/javascripts/jstree.min.js"></script>
                <script>
                    $(function () {
                        function fake_data() {
                            var template =
                                "<div class='media'><div class='media-left'><div class='avatar avatar-online'><img src='/images/1.jpg' alt='...'><i class='avatar avatar-busy'></i></div></div><div class='media-body'><h4 class='media-heading'>NAMENAME</h4><p><i class='icon icon-color wb-user' aria-hidden='true'></i>NUM</p></div></div>";
                            var total_temp;
                            var times;

                            total_temp = "";
                            times = ~~(Math.random() * 100 % 10) + 1;
                            while (times--) {
                                temp = template;
                                temp = temp.replace("NAMENAME", random_chinesename());
                                temp = temp.replace("NUM", ~~(Math.random() * 100 % 10) + 1);
                                total_temp = total_temp + temp
                            }
                            $("#yuan_top").html(total_temp);

                            total_temp = "";
                            times = ~~(Math.random() * 100 % 10) + 1;
                            while (times--) {
                                temp = template;
                                temp = temp.replace("NAMENAME", random_chinesename());
                                temp = temp.replace("NUM", ~~(Math.random() * 100 % 10) + 1);
                                total_temp = total_temp + temp
                            }
                            $("#yuan_zhuren").html(total_temp);

                            total_temp = "";
                            times = ~~(Math.random() * 100 % 10) + 1;
                            while (times--) {
                                temp = template;
                                temp = temp.replace("NAMENAME", random_chinesename());
                                temp = temp.replace("NUM", ~~(Math.random() * 100 % 10) + 1);
                                total_temp = total_temp + temp
                            }
                            $("#yuan_yisheng").html(total_temp);

                            total_temp = "";
                            times = ~~(Math.random() * 100 % 10) + 1;
                            while (times--) {
                                temp = template;
                                temp = temp.replace("NAMENAME", random_chinesename());
                                temp = temp.replace("NUM", ~~(Math.random() * 100 % 10) + 1);
                                total_temp = total_temp + temp
                            }
                            $("#yuan_jiankang").html(total_temp);
                        }

                        function random_chinesename() {
                            var lastName =
                                "赵钱孙李周吴郑王冯陈楮卫蒋沈韩杨朱秦尤许何吕施张孔曹严华金魏陶姜戚谢邹喻柏水窦章云苏潘葛奚范彭郎鲁韦昌马苗凤花方俞任袁柳酆鲍史唐费廉岑薛雷贺倪汤滕殷罗毕安常傅皮卞齐康伍余元卜顾孟平黄和穆萧尹姚邵湛汪祁毛"
                            var str = "化腾一云健林树玥婷辉周毅伟桂宁红艳润发";
                            return lastName.substr(~~(Math.random() * 1000 % lastName.length), 1) + str.substr(~
                                ~(Math
                                    .random() *
                                    1000 % str.length), 1) + str.substr(~~(Math.random() * 1000 % str.length),
                                1);
                        }
                        $('#jstreeExample_8')
                            .on('create_node.jstree', function (e, data) {
                                if (data.node.parents.length == 2) {
                                    data.instance.set_icon(data.node, "/images/level2.png")
                                    data.instance.rename_node(data.node, "卫生院")
                                } else if (data.node.parents.length == 3) {
                                    data.instance.set_icon(data.node, "/images/level3.png")
                                    data.instance.rename_node(data.node, "卫生室")
                                }
                            })
                            .on('select_node.jstree', function (e, data) {
                                fake_data();
                                console.log(data)
                            })
                            .jstree({
                                'core': {
                                    "check_callback": true,
                                    'data': [{
                                        'text': '播州中医院',
                                        "icon": "/images/level1.png",
                                        'state': {
                                            'opened': true,
                                            'selected': true
                                        },
                                        'children': [{
                                                'text': '南白镇卫生院',
                                                "icon": "/images/level2.png",
                                                'state': {
                                                    'opened': true,
                                                    'selected': true
                                                },
                                                'children': [{
                                                    'text': '南白村南国卫生室',
                                                    "icon": "/images/level3.png"
                                                }, {
                                                    'text': '南白村曹家卫生室',
                                                    "icon": "/images/level3.png"
                                                }, {
                                                    'text': '马桥村卫生室',
                                                    "icon": "/images/level3.png"
                                                }]
                                            },
                                            {
                                                'text': '龙坑镇卫生院',
                                                "icon": "/images/level2.png",
                                                'state': {
                                                    'opened': true,
                                                    'selected': true
                                                },
                                                'children': [{
                                                    'text': '龙坑村卫生室',
                                                    "icon": "/images/level3.png"
                                                }, {
                                                    'text': '怡鑫卫生室',
                                                    "icon": "/images/level3.png"
                                                }, {
                                                    'text': '八里新村卫生室',
                                                    "icon": "/images/level3.png"
                                                }]
                                            },
                                            {
                                                'text': '三合镇卫生院',
                                                "icon": "/images/level2.png"
                                            }
                                        ]
                                    }]
                                },
                                "types": {
                                    "default": {
                                        "max_depth": 2
                                    },
                                    "demo": {
                                        "icon": "glyphicon glyphicon-ok"
                                    }
                                },
                                'plugins': ['types'],
                                // 'plugins': ['contextmenu', 'types'],
                            });
                        fake_data();
                    });
                </script>
                <% if (typeof pjax === "undefined") { %>
                    <%- include ../footer %>
                        <% } %>