<%- include ../header %>
<div class="page">
    <div class="page-header">
        <h1 class="page-title" style="text-align:center" id="hospital-title"> </h1>
    </div>
    <div class="page-content">
        <!-- Panel -->
        <div class="panel">
            <div class="panel-body container-fluid">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-xs-6 col-lg-3 offset-lg-1" style="float: left; display: inline;">
                            <label for="">病例编号：</label><span id="recipe_number"> </span>
                        </div>
                        <div class="col-xs-12 col-lg-5">
                            <div class="form-group " style=" margin-bottom: 0px;">
                                <div class="input-search">
                                    <button type="submit" class="input-search-btn"><i class="icon wb-search" aria-hidden="true"></i></button>
                                    <input type="text" class="form-control" style="padding-top: 2px;padding-bottom: 2px;" name="id_number" id="id_number" maxlength="18" oninput="logSearch(this)">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-outline btn-success btn-sm" href="#" onclick="doSearch(document.querySelector('#id_number'))">开方</a>
                            <a class="btn btn-outline btn-success btn-sm" rel="nofollow" data-method="delete" id="diseaseLocationSearch">查看记录</a>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="tab-content">
                                <div class="tab-pane animation-fade active" id="all_contacts" role="tabpanel">
                                    <ul class="list-group"><li class='list-group-item text-md-center'> </li></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <p class="col-md-4 col-xs-12 offset-lg-1">
                            健康管理师：<span id="doctor"> </span>
                        </p>
                        <p class="col-md-4 col-xs-12 offset-lg-2 ">
                            开具日期：<span id= "today"> </span>
                        </p>
                    </div>

                </form>

            </div>
        </div>
        <!-- End Panel -->
    </div>
</div>
<div id="template" style="display:none">
    <!-- 基本信息 -->
    <br/>
    <div id = "showProject" >
        <div class="row">
            <div class="form-group col-lg-11 offset-lg-1  col-xs-12">
                <h4>
                    <i class="icon icon-color wb-user" aria-hidden="true"></i>个人信息
                </h4>
            </div>
            <div class="form-group col-lg-2 offset-lg-2  col-xs-12">
                姓名：<span id="name"> </span>
            </div>
            <div class="form-group col-lg-2 offset-lg-1  col-xs-12">
                民族：<span id="nation"> </span>
            </div>
            <div class="form-group col-lg-2 offset-lg-1 col-xs-12">
                性别：<span id="sex"> </span>
            </div>
            <div class="form-group col-lg-4 offset-lg-2 col-xs-12">
                婚姻状况：<span id="marriage"> </span>
            </div>
            <div class="form-group col-lg-4  col-xs-12">
                出生日期：<span id="birthday"> </span>
            </div>
            <div class="form-group col-lg-4 offset-lg-2  col-xs-12">
                联系方式：<span id="phone"> </span>
            </div>
            <div class="form-group col-lg-4  col-xs-12">
                通讯地址：<span id="address"> </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-10 offset-lg-1  ">
                <h4><i class="icon icon-color wb-eye" aria-hidden="true"></i>个人健康状况评价</h4>
                <div class="form-group">
                    <label class="form-control-label">生理方面: </label>
                    <textarea class="form-control" rows="2" id="physiology"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label">情志方面: </label>
                    <textarea class="form-control" rows="2" id="emotion"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label">营养方面: </label>
                    <textarea class="form-control" rows="2" id="nutrition"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label">生活方式方面: </label>
                    <textarea class="form-control" rows="2" id="life_style"></textarea>
                </div>
            </div>
            <div class="col-xs-12 col-md-10 offset-lg-1  ">
                <h4><i class="icon icon-color wb-plugin" aria-hidden="true"></i>主症</h4>
                <div class="form-group">
                    <textarea class="form-control" rows="2" id="main_symptom"></textarea>
                </div>
            </div>
            <div class="col-xs-12 col-md-10 offset-lg-1  ">
                <h4><i class="icon icon-color wb-extension" aria-hidden="true"></i>急症</h4>
                <div class="form-group">
                    <textarea class="form-control" rows="2" id="emergency_symptom"></textarea>
                </div>
            </div>
            <div class="col-xs-12 col-md-10 offset-lg-1  ">
                <h4><i class="icon icon-color wb-attach-file" aria-hidden="true"></i>兼症</h4>
                <div class="form-group">
                    <textarea class="form-control" rows="2" id="part_symptom"></textarea>
                </div>
            </div>
            <div class="col-xs-12 col-md-10 offset-lg-1  ">
                <h4><i class="icon icon-color wb-paperclip" aria-hidden="true"></i>次兼症</h4>
                <div class="form-group">
                    <textarea class="form-control" rows="2" id="second_part_symptom"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="input-group">
        <div class="row">
            <button type="button" onclick="submitForm();" class="btn btn-block btn-success">提交</button>
        </div>
    </div>
</div>
<script>
var searching = false;
var temp_data;
var getHospital = function() {
    doAjax(window.baseUrl + "/recipe/recipe_info", "get", {"category": "疾病谱定位科"}, function(data, status) {
        if (status && data) {
            $("#hospital-title").text(data.hospital);
            $("#doctor").text(data.doctor);
        }
    });
};
var doSearch = function(dom) {
    var val = dom.value.toLocaleUpperCase();
    if (val.length===18  && checkIdCard(val) && !searching) {

        var createUserDom = function(userObj) {
            var template = $("#template").html();
            return template;
        };
        searching = true;
        doAjax(window.baseUrl + "/registration/get_number", "get", {"id_number": val}, function(data, status) {
            searching = false;
            if (status && data) {
                if (!data.number) {
                    swal("没有 registration 记录", "", "error");
                    return false;
                }
                var todaydata =new Date().Format("yyyy-MM-dd");
                $("#all_contacts ul:first").html($(createUserDom(data)));
                for (var i in data.patient) {
                    $("#" + i).text(data.patient[i] || "无");
                };
                $("#recipe_number").text(data.number);
                $("#diseaseLocationSearch").attr("href", "/diseaseLocationSearch?id_number=" + val);
                $("#today").text(todaydata);
                temp_data = data;
                getHospital();
            } else {
                $("#all_contacts ul:first").html("<li class='list-group-item'>没有挂号，请先去挂号！</li>");
            }
        });
    } else {
        $("#all_contacts ul:first").html("<li class='list-group-item'>暂无搜索结果</li>");
    }
};
var submitForm = function() {
    postObj = {
        "patient_id": temp_data.patient.id,
        "recipe_number": temp_data.number,
        "physiology": $("#physiology").val(),
        "emotion": $("#emotion").val(),
        "nutrition": $("#nutrition").val(),
        "life_style": $("#life_style").val(),
        "main_symptom": $("#main_symptom").val(),
        "emergency_symptom": $("#emergency_symptom").val(),
        "part_symptom": $("#part_symptom").val(),
        "second_part_symptom": $("#second_part_symptom").val()
    };
    doAjax(
        window.baseUrl + "/recipe/create_disease_location_recipe",
        "post",
        postObj,
        function(data, status) {
            if (status && data) {
                swal({
                    title: data.info || "提交成功",
                    type: "success"
                },
                function() {
                    $("input:radio[id^='sex']").prop("checked", false);
                    $("input").val("");
                });
            } else {
                swal("提交失败", "", "error");
            }
        }
    );
    return 0;
};
var logSearch = function(dom) {
    var val1 = dom.value.toLocaleUpperCase();
    if (val1.length===18  && checkIdCard(val1) && !searching) {

        };
        doAjax(window.baseUrl + "/registration/get_number", "get", {"id_number": val1}, function(data, status) {
            if (!data) {
                swal("没有挂号记录", "", "error");
                return false;
            }
            $("#diseaseLocationSearch").attr("href", "/diseaseLocationSearch?id_number=" + val1);

        });
};
</script>
<%- include ../footer %>
