<% if (typeof pjax === "undefined") { %>
    <%- include ../header %>
<% } else { %>
    <title><%= title %></title>
<% } %>
    <div class="page-header">
        <h1 class="page-title" style="text-align:center" id="hospital"> </h1>
    </div>
    <div class="page-content">
        <!-- Panel -->
        <div class="panel">
            <div class="panel-body container-fluid">
                <form class="form-horizontal" onsubmit="return false;">
                    <div class="row">
                        <div class="col-xs-12 col-lg-6 offset-lg-1">
                            <div class="form-group " style=" margin-bottom: 0px ;">
                                <div class="input-search">
                                    <button type="submit" class="input-search-btn"><i class="icon wb-search" aria-hidden="true"></i></button>
                                    <input type="text" class="form-control" name="search" placeholder="请在此输入身份证号码" style="padding-top: 2px;padding-bottom: 2px;margin-top:10px" id="id_number" oninput="logSearch(this);" maxlength="18">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-outline btn-success btn-sm" style="margin-top:10px" href="javascript: void(0);" onclick="doSearch(document.querySelector('#id_number'))">生成</a>
                            <a class="btn btn-outline btn-success btn-sm" style="margin-top:10px" rel="nofollow" data-method="delete" id="healthManagementSearch">查看记录</a>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="tab-content">
                                <div class="tab-pane animation-fade active" id="all_contacts" role="tabpanel">
                                    <ul class="list-group"><li class='list-group-item text-md-center'> </li></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a class="col-md-3 col-xs-12 offset-lg-1">
                            健康管理师：<span id="doctor"> </span>
                        </a>
                        <a class="col-md-3 col-xs-12 offset-lg-1 ">
                            方案编号：<span id="recipe_number"> </span>
                        </a>
                        <a class="col-md-3 col-xs-12 offset-lg-1 ">
                            开具日期：<span id="today"> </span>
                        </a>
                    </div>

                </form>
            </div>
   
        </div>
        <!-- End Panel -->
    </div>

<div id="showProject">
    <hr/>
    <div class="row">
        <div class="form-group col-lg-11 offset-lg-1  col-xs-12">
            <h4>
                <i class="icon icon-color wb-user" aria-hidden="true"></i>个人信息
            </h4>
        </div>
        <div class="form-group col-lg-2 offset-lg-2  col-xs-12">
            姓名：<span id="name"></span>
        </div>
        <div class="form-group col-lg-2 offset-lg-1  col-xs-12">
            民族：<span id="nation"></span>
        </div>
        <div class="form-group col-lg-2 offset-lg-1 col-xs-12">
            性别：<span id="sex"></span>
        </div>
        <div class="form-group col-lg-4 offset-lg-2 col-xs-12">
            婚姻状况：<span id="marriage"></span>
        </div>
        <div class="form-group col-lg-4  col-xs-12">
            出生日期：<span id="birthday"></span>
        </div>
        <div class="form-group col-lg-4 offset-lg-2  col-xs-12">
            联系方式：<span id="phone"></span>
        </div>
        <div class="form-group col-lg-4  col-xs-12">
            通讯地址：<span id="address"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-10 offset-lg-1  ">
            <h4><i class="icon icon-color wb-eye" aria-hidden="true"></i>健康管理指导意见</h4>
            <div class="form-group">
                <label class="form-control-label">生理方面: </label>
                <textarea class="form-control" rows="2" id="physiology"></textarea>
            </div>
            <div class="form-group">
                <label class="form-control-label">情志方面: </label>
                <textarea class="form-control" rows="2" id="emotion"></textarea>
            </div>
            <div class="form-group">
                <label class="form-control-label">营养方面: </label>
                <textarea class="form-control" rows="2" id="nutrition"></textarea>
            </div>
            <div class="form-group">
                <label class="form-control-label">生活方式方面: </label>
                <textarea class="form-control" rows="2" id="life_style"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <h4 class=" col-xs-12 col-lg-10 offset-lg-1">
            <i class="icon icon-color wb-order" aria-hidden="true"></i>方案
        </h4>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-md-4 offset-lg-1">
            <label for="health_survey4_2">费别</label>
            <select id="health_survey4_2" class="form-control" data-plugin="select2" name="health_survey5">
                <option>自费</option>
                <option>公费</option>
                <option>医保 </option>
                <option>其它</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-10 offset-lg-1"><div id="exampleBasic" class="form-group jsgrid"></div></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-2 offset-lg-9 ">
            <button type="button" class="btn btn-block btn-primary"id="projectSubmit" onclick="this.disabled=true;submitForm();">开方 </button>
        </div>
    </div>
    <hr/>
    <div class="row">
        <p class="col-md-4 col-xs-12 offset-lg-1">
            收费员：<span id=""> </span>
        </p>
        <p class="col-md-4 col-xs-12 offset-lg-2 ">
            费用：<span id="total"> </span>
        </p>
    </div>
</div>
<script>
var searching = false;
var temp_data;
var template = $("#showProject").html();
$("#showProject").remove();

var jsGridFrom = function(products) {
    var products = [{
        name: "",
        id: 0,
        code : ''
    }].concat(products || []);
    var productSelect = function(config) {
        jsGrid.Field.call(this, config);
    };

    // 产品选择 select
    productSelect.prototype = new jsGrid.Field({
        align: "left",
        itemTemplate: function(value) {
            return value;
        },
        insertTemplate: function(value) {
            var selectDom = $("<select>").attr("name", this["name"]).addClass("form-control input-sm"), self = this;
            for (var i = 0; i < this["items"].length; i++) {
                selectDom.append($("<option>")
                    .val(this["items"][i][this["valueField"]])
                    .text(this["items"][i][this["textField"]])
                    .data("id", this["items"][i][this["idField"]]));
            }
            return this._insertSelect = selectDom.change(function() {
                var linkNumber = $(this).parent().parent().find("input[linkage='" + self["linkageFieldNumber"] + "']");
                var productId  = $(this).find("option:selected").data("id");
                var productsIdObj = {};
                for (var i = 0; i < products.length; i++) {
                    productsIdObj[products[i]["id"]] = products[i];
                }
                linkNumber.val(productId ? productsIdObj[productId].code : "" );

                var linkageDom = $(this).parent().parent().find("input[linkage='" + self["linkageField"] + "']");
                doAjax(window.baseUrl + "/product/product_usage_list", "get", {"product_id": $(this).find("option:selected").data("id")}, function(data, status) {
                    if (status && data) {
                        linkageDom.val(data[0] ? data[0]["usage"] : "");
                    }
                });
            });
        },
        editTemplate: function(value) {
            var selectDom = $("<select>").attr("name", this["name"]).addClass("form-control input-sm"), self = this;
            for (var i = 0; i < this["items"].length; i++) {
                selectDom.append($("<option>")
                    .val(this["items"][i][this["valueField"]])
                    .text(this["items"][i][this["textField"]])
                    .data("id", this["items"][i][this["idField"]]));
            }
            return this._editSelect = selectDom.change(function() {
                var linkageDom = $(this).parent().parent().find("input[linkage='" + self["linkageField"] + "']");
                doAjax(window.baseUrl + "/product/product_usage_list", "get", {"product_id": $(this).find("option:selected").data("id")}, function(data, status) {
                    if (status && data) {
                        linkageDom.val(data[0] ? data[0]["usage"] : "");
                    }
                });
            }).val([value]);
        },
        insertValue: function() {
            return this._insertSelect.val();
        },
        editValue: function() {
            return this._editSelect.val();
        }
    });

    jsGrid.fields.product = productSelect;

    //产品编号输入框
    var productNumberInput = function (config) {
        jsGrid.Field.call(this, config);
    };
    productNumberInput.prototype = new jsGrid.Field({
        align: "left",
        itemTemplate: function(value) {
            return value;
        },
        insertTemplate: function(value) {
            return this._insertPicker = $("<input>").addClass("form-control input-sm").attr("linkage", "productNumber").prop("disabled",true);
        },
        insertValue: function() {
            return this._insertPicker.val();
        }
    });

    jsGrid.fields.productNumber = productNumberInput;


    // 用法输入框
    var productUsageInput = function(config) {
        jsGrid.Field.call(this, config);
    };
    productUsageInput.prototype = new jsGrid.Field({
        align: "left",
        itemTemplate: function(value) {
            return value;
        },
        insertTemplate: function(value) {
            return this._insertPicker = $("<input>").addClass("form-control input-sm").attr("linkage", "productUsage");
        },
        editTemplate: function(value) {
            return this._editPicker = $("<input>").val(value).addClass("form-control input-sm").attr("linkage", "productUsage");
        },
        insertValue: function() {
            return this._insertPicker.val();
        },
        editValue: function() {
            return this._editPicker.val();
        }
    });

    jsGrid.fields.productUsage = productUsageInput;


    // 数量输入框
    var numInput = function(config) {
        jsGrid.Field.call(this, config);
    };

    numInput.prototype = new jsGrid.Field({
        align: "left",
        itemTemplate: function(value) {
            return value;
        },
        insertTemplate: function(value) {
            return this._insertPicker = $("<input>").addClass("form-control input-sm").attr("type", "text");
        },
        editTemplate: function(value) {
            return this._editPicker = $("<input>").addClass("form-control input-sm").attr("type", "text").val(value);
        },
        insertValue: function() {
            return ~~this._insertPicker.val();
        },
        editValue: function() {
            return ~~this._editPicker.val();
        }
    });

    jsGrid.fields.num = numInput;

    $('#exampleBasic').jsGrid({
        height: "300px",
        width: "100%",

        inserting: true,
        editing: true,
        sorting: true,
        paging: true,
        autoload: true,

        pageSize: 15,
        pageButtonCount: 5,

        deleteConfirm: "确定要删除吗?",

        controller: {
            loadData: function(filter) {
                return $.grep(this.clients, function(client) {
                    return (!filter.Name || client.Name.indexOf(filter.Name) > -1) && (!filter.Age || client.Age === filter.Age) && (!filter.Address || client.Address.indexOf(filter.Address) > -1) && (!filter.Country || client.Country === filter.Country) && (filter.Married === undefined || client.Married === filter.Married);
                });
            },

            insertItem: function(insertingClient) {
                this.clients.push(insertingClient);
            },

            updateItem: function(updatingClient) {},

            deleteItem: function(deletingClient) {
                var clientIndex = $.inArray(deletingClient, this.clients);
                this.clients.splice(clientIndex, 1);
            },
            products: products,
            clients: []

        },

        fields: [{
            name: "产品名",
            type: "product",
            items: products,
            valueField: "name",
            textField: "name",
            idField: "id",
            linkageField: "productUsage",
            linkageFieldNumber: "productNumber",
            validate: "required"
        }, {
            name: "产品编号",
            type: "productNumber",
            validate: "required"
        }, {
            name: "用法",
            type: "productUsage",
            validate: "required"
        },{
            name: "数量",
            type: "num",
            width: "30px",
            validate: {
                validator: "range",
                message: function(value, item) {
                    return "数量需要大于 0，小于 101";
                },
                param: [1, 100]
            }
        }, {
            type: "control"
        }]
    });
};
var getProgrammeAndProduct = function() {
    doAjax(window.baseUrl + "/programme/programme_list", "get", {}, function(data, status) {
        if (status && data) {
            for (var i in data) {
                $("#health_survey4_1").append($('<option value="'+data[i]["id"]+'">'+data[i]["name"]+"</option>"));
            }
        }
    });
};
var gethospital = function() {
    doAjax(window.baseUrl + "/recipe/recipe_info", "get", {"category": "健康管理科"}, function(data, status) {
        if (status && data) {
            $("#hospital").html(data.hospital);
            $("#doctor").html(data.doctor);
        }
    });
};
var getRecipeNumber = function() {
    doAjax(window.baseUrl + "/recipe/get_recipe_number", "get", {}, function(data, status) {
        if (status && data) {
            $("#recipe_number").text(data);
        }
    });
};
var doSearch = function(dom) {
    var val = dom.value.toLocaleUpperCase();
    if (!searching) {
        if (val.length === 18  ) {//&& checkIdCard(val)
            var createUserDom = function(userObj) {
                t_template = template;
                return t_template;
            };
            searching = true;
            doAjax(window.baseUrl + "/registration/get_number", "get", {"id_number": val}, function(data, status) {
                searching = false;
                if (status && data) {
                    if (!data.number) {
                        swal("没有 registration 记录", "", "error");
                        return false;
                    }
                    var todaydata = new Date().Format("yyyy-MM-dd");
                    $("#all_contacts ul:first").html($(createUserDom(data)));
                    $("#health_survey4_1").select2();
                    getProgrammeAndProduct();
                    $("#health_survey4_2").select2();
                    doAjax(window.baseUrl + "/product/product_list", "get", {}, function(data, status) {
                        if (data && status) {
                            jsGridFrom(data);
                        }
                    });
                    for (var i in data.patient) {
                        $("#" + i).text(data.patient[i] || "无");
                    };
                    getRecipeNumber();
                    // $("#recipe_number").text(data.number);
                    $("#today").text(todaydata);
                    temp_data = data;
                    gethospital();
                } else {
                    $("#all_contacts ul:first").html("<li class='list-group-item'><div class='alert alert-info' role='alert'>没有挂号，请先去挂号！</div></li>");
                }
            });
        } else {
            $("#all_contacts ul:first").html("<li class='list-group-item'><div class='alert alert-danger' role='alert'>身份证验证未通过</div></li>");
        }
    }
};
var submitForm = function() {
    var postObj = {
        "patient_id": temp_data["patient"]["id"],
        "physiology": $("#physiology").val(),
        "emotion": $("#emotion").val(),
        "nutrition": $("#nutrition").val(),
        "life_style": $("#life_style").val(),
        "number": $("#recipe_number").text(),
        "detail": JSON.stringify($("#exampleBasic").data("JSGrid").data)
    };
    doAjax(
        window.baseUrl + "/recipe/create_health_manage_recipe",
        "post",
        postObj,
        function(data, status) {
            $('#projectSubmit').prop('disabled',false);
            if (status && data) {
                swal({
                    title: data.info || "提交成功",
                    type: "success"
                },
                setTimeout(function() {
                    location.href = "/healthManagement";
                },1000));
            } else {
                swal("提交失败", "", "error");
            }
        }
    );
    return 0;
};
var logSearch = function(dom) {
    var val1 = dom.value.toLocaleUpperCase();
    if (val1.length===18   && !searching) {//&& checkIdCard(val1)
        doAjax(window.baseUrl + "/registration/get_number", "get", {"id_number": val1}, function(data, status) {
            if (!data) {
                swal("没有挂号记录,请先挂号", "", "error");
                return false;
            }
            $("#healthManagementSearch").attr("href", "/programmeSearch?id_number=" + val1);
        });
    };
};

 var getCurrent = function() {
       doAjax(window.baseUrl + "/users/current_user",
        "get",{}, function(data, status){ 
            return data.id;      
          
        }) 
    };
    var showData = function(){
        doAjax(window.baseUrl + "/users/current_user",
        "get",{}, function(data, status){ 
            doAjax(window.baseUrl + "/examination_input/get_auto_identity_card",
        "get", {"id": data.id},function(data, status){
            console.log(data, status);
            if(data ==="no_id"){
              
            }else{
            $('#id_number').val(data);
        }
        })     
          
        }) 
        
    };
    showData();
</script>
<% if (typeof pjax === "undefined") { %>
    <%- include ../footer %>
<% } %>
