<%- include ../header %>
<style>
#rate p {
    margin-bottom: 0.1rem;
}
</style>
<div class="page">
	<div class="page-header">
      <h1 class="page-title"><%= title %></h1>
      <ol class="breadcrumb"> 
      </ol>
      <div class="page-header-actions">
        <a class="btn btn-primary btn-round waves-effect" href="#" onclick='$("#print-this").printArea()'>
          <i class="icon wb-print" aria-hidden="true"></i>
          <span class="hidden-sm-down">打印该页面</span>
        </a>
      </div>
    </div>
  <div class="page-content">
    <div class="page-content">
        <div class="panel">
            <div class="panel-body">
            <div id="print-this">
                <div id="head">
                    <img id="table-logo" src="/images/logo-blue.png"/>
                    <h4 class="vertical-align-bottom pull-xs-right">编号: <span id="table_id"></span> </h4>
                    <script>
                     setTimeout(function(){ $("#table-logo").next().css("margin-top",$("#table-logo").height() - $("#table-logo").next().height()+"px")},100)
                    </script>
                    <hr/>
                </div>
                <h2 class="text-xs-center">御邦医通健康管理方案</h2>
                <div>
                  <div id="base_info">
                      <h4>
                        <i class="icon wb-user" aria-hidden="true"></i> 基本信息
                      </h4>
                      <table class="table">
                          <tr>
                            <td>姓名 : <span id="name"></span></td>
                            <td>性别 : <span id="sex"></span></td>
                            <td>出生年月 : <span id="born_date"></span></td>
                          </tr>
                          <tr>
                            <td>婚姻状况 : <span id="marriage"></span></td>
                            <td>民族 : <span id="country"></span></td>
                            <td>联系方式 : <span id="contact"></span></td>
                          </tr>
                      </table>
                  </div>
                  <div id="rate">
                      <h4>
                        <i class="icon wb-book" aria-hidden="true"></i> 健康管理指导意见
                      </h4>
                      <div class="row" style="font-size:16px; padding-bottom: 5px;">
                            <div class="col-md-12">
                                <div>生理方面 :
                                  <p style="text-indent:25px" id="rate_sl"></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div>情志方面 :
                                  <p style="text-indent:25px" id="rate_qz"> </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div>营养方面 :
                                  <p style="text-indent:25px" id="rate_yy"></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div>生活方式方面 :
                                  <p style="text-indent:25px" id="rate_shfs"> </p>
                                </div>
                            </div>
                      </div>
                  </div>
                  <hr/>
                  <div id="issue">
                                <h4>深度临床营养强化干预方案  : </h4>
                                 <p style="text-indent:25px" id="issue_fa"></p>
                  </div>
                  <hr/>
                  <div>
                      <h4  class="pull-xs-left">健管专家 : <span id="docter_name"></span></h4>
                      <h4  class="pull-xs-right">日期 : <span id="date"></span></h4>
                  </div>
                </div>
            </div>
            </div>
        </div>
    </div>
  </div>

  </div>
</div>
<script>
        $(function() {
          var uid = getvl("id");
          if (!uid) {
               swal({title: "id 错误", type: "error"}, function() {
                  window.close();
              });
               return;
          }
          var cbFunction = function(data,status){
               if (status) {

                  if (data.status == "有效")
                  {
                    console.log(data);
                    $("#rate_sl").text(data.health_manage_recipes[0].physiology) // 生理
                    $("#rate_qz").text(data.health_manage_recipes[0].emotion) // 情志
                    $("#rate_yy").text(data.health_manage_recipes[0].nutrition) // 营养
                    $("#rate_shfs").text(data.health_manage_recipes[0].life_style)  // 生活方式
                    $("#docter_name").text(data.health_manage_recipes[0].doctor_name)
                    $("#issue_fa").text(data.health_manage_recipes[0].detail)
                    $("#date").text(new Date().Format("yyyy-MM-dd"))
                    
                    $("#table_id").text(uid)
                    $("#name").text(data.patient.name)
                    $("#sex").text(data.patient.sex)
                    $("#born_date").text(data.patient.birthday)
                    $("#marriage").text(data.patient.marriage)
                    $("#country").text(data.patient.nation)
                    $("#contact").text(data.patient.phone)
                  } else {
                    swal({title: "id 错误", type: "error"}, function() {
                        window.close();
                    });
                    return false;
                  }
                } else {
                    swal({title: "id 错误", type: "error"}, function() {
                        window.close();
                    });
                    return false;
                }



          }
          doAjax(window.baseUrl + "/registration/check_info", "get", {"number": uid}, cbFunction);
        })



</script>
<script src="/javascripts/jquery.PrintArea.js"></script>
<%- include ../footer %>
