<% if (typeof pjax === "undefined") { %>
    <%- include ../header %>
<% } else { %>
    <title><%=title %></title>
<% } %>
    <div class="page-header">
        <h1 class="page-title" style="text-align:center" id="hospital-title"></h1>
    </div>
    <div class="page-content">
        <!-- Panel -->
        <div class="panel">
            <div class="panel-body container-fluid">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-xs-12 col-lg-6 offset-lg-1">
                            <div class="form-group" style=" margin-bottom: 0px;">
                                <div class="input-search">
                                    <button type="submit" class="input-search-btn"><i class="icon wb-search" aria-hidden="true"></i></button>
                                    <input type="text" class="form-control"placeholder="请在此输入身份证号码" style="padding-top: 2px;padding-bottom: 2px;" id="id_number" oninput="logSearch(this)" maxlength="18">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-outline btn-success btn-sm" href="javascript: void(0);" onclick="doSearch(document.querySelector('#id_number'))">生成</a>
                            <a class="btn btn-outline btn-success btn-sm" rel="nofollow" data-method="delete" id="spineSearch">查看记录</a>
                        </div>
                    </div>

                    <div class="" id="showProject">

                    </div>
                    <hr />
                    <div class="row">
                        <p class="col-md-4 col-xs-12 offset-lg-1">
                            健康管理师：<span id="doctor"></span>
                        </p>
                        <p class="col-md-4 col-xs-12 offset-lg-2">
                            病例编号：<span id="recipe_number"> </span>
                        </p>
                    </div>
                    <div class="row">
                        <p class="col-md-4 col-xs-12 offset-lg-1">
                            总额：<span id="total"></span>
                            <p class="col-md-4 col-xs-12 offset-lg-2">
                                开具日期：<span id="issued_date"></span>
                            </p>
                        </div>
                    </form>

                </div>
            </div>
            <!-- End Panel -->
        </div>
    </div>
    <div class="hideProject" style="display: none;">
        <div class="row">
            <div class="form-group col-lg-11 offset-lg-1 col-xs-12">
                <h4>
                    <i class="icon icon-color wb-user" aria-hidden="true"></i>个人信息
                </h4>
            </div>
            <div class="form-group col-lg-2 offset-lg-2 col-xs-12">
                姓名：<span id="name"> </span>
            </div>
            <div class="form-group col-lg-2 offset-lg-1 col-xs-12">
                民族：<span id="nation"> </span>
            </div>
            <div class="form-group col-lg-2 offset-lg-1 col-xs-12">
                性别：<span id="sex"> </span>
            </div>
            <div class="form-group col-lg-4 offset-lg-2 col-xs-12">
                婚姻状况：<span id="marriage"> </span>
            </div>
            <div class="form-group col-lg-4 col-xs-12">
                出生日期：<span id="birthday"> </span>
            </div>
            <div class="form-group col-lg-4 offset-lg-2 col-xs-12">
                联系方式：<span id="phone"> </span>
            </div>
            <div class="form-group col-lg-4 col-xs-12">
                通讯地址：<span id="address"> </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-10 offset-lg-1">
                <h4><i class="icon icon-color wb-eye" aria-hidden="true"></i>健康管理师诊断</h4>
                <div class="form-group">
                    <label class="form-control-label">身体状况描述: </label>
                    <textarea class="form-control" rows="2" id="descriptionOfPhysicalCondition" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label">诊断建议: </label>
                    <textarea class="form-control" rows="2" id="diagnosticAdvice"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <h4 class=" col-xs-12 col-lg-10 offset-lg-1">
                <i class="icon icon-color wb-order" aria-hidden="true"></i>方案
            </h4>
        </div>
        <div class="row">
            <div class="form-group col-md-10 offset-lg-1 col-xs-12">
                <label> <input type="checkbox" onchange="caculate()" id="blood" name="blood" onclick="bloodSelect(this)" onchange="caculate()" value="10" /> 放血排毒: <span id="bloodLetting"></span></label>
                <input type="number" class="form-control" id="bloodTimes" value="1" min='1' onblur="if(value === ''){value = '1'}" onchange="caculate()" disabled />
            </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12 col-md-10 offset-lg-1">
            <label for="">治疗次数</label>
            <input type="number" class="form-control" id="cureTimes" value="1" min='1' onblur="if(value === ''){value = '1'}" onchange="caculate()" />
          </div>
        </div>

        <div class="row">
            <div class="form-group col-md-10 offset-lg-1 col-xs-12">
                <table class="table table-bordered">
                    <tr>
                        <th>筑脊师级别/脊柱干预步骤 </th>
                        <th>单次</th>
                        <th>首次疗程</th>
                        <th>养护（第二次起）</th>
                    </tr>
                    <tr>
                        <td rowspan="6">
                            <select id="treatment_level" class="form-control" data-plugin="select2" name="issue_grade" onchange="changeGrade()" >
                              <optgroup label="" id="optionGroup">
                              </optgroup>
                            </select>
                        </td>

                    </tr>
                    <tr>
                        <td> <label> <input type="checkbox" value="1" onchange="caculate()" id="单次_neck" name="spine" /> 颈椎：<span></span></label></td>
                        <td> <label> <input type="checkbox" value="1" onchange="caculate()" id="首次疗程_neck" name="spine" /> 颈椎：<span></span></label></td>
                        <td> <label> <input type="checkbox" value="1" onchange="caculate()" id="养护（第二次起）_neck" name="spine" /> 颈椎：<span></span></label></td>
                    </tr>
                    <tr>
                        <td> <label> <input type="checkbox" value="1" onchange="caculate()" id="单次_thoracic" name="spine" /> 胸椎：<span></span></label></td>
                        <td> <label> <input type="checkbox" value="1" onchange="caculate()" id="首次疗程_thoracic" name="spine" /> 胸椎：<span></span></label></td>
                        <td> <label> <input type="checkbox" value="1" onchange="caculate()" id="养护（第二次起）_thoracic" name="spine" /> 胸椎：<span></span></label></td>
                    </tr>
                    <tr>
                        <td> <label> <input type="checkbox" value="1" onchange="caculate()" id="单次_lumbar" name="spine" /> 腰椎：<span></span></label> </td>
                        <td> <label> <input type="checkbox" value="1" onchange="caculate()" id="首次疗程_lumbar" name="spine" /> 腰椎：<span></span></label></td>
                        <td> <label> <input type="checkbox" value="1" onchange="caculate()" id="养护（第二次起）_lumbar" name="spine" /> 腰椎：<span></span></label></td>
                    </tr>
                    <tr>
                        <td> <label> <input type="checkbox" value="1" onchange="caculate()" id="单次_pelvis" name="spine" /> 骨盆：<span></span></label></td>
                        <td> <label> <input type="checkbox" value="1" onchange="caculate()" id="首次疗程_pelvis" name="spine" /> 骨盆：<span></span></label></td>
                        <td> <label> <input type="checkbox" value="1" onchange="caculate()" id="养护（第二次起）_pelvis" name="spine" /> 骨盆：<span></span></label> </td>
                    </tr>
                    <tr>
                        <td> <label> <input type="checkbox" value="1" onchange="caculate()" id="单次_whole_ridge" name="spine" /> 全脊：<span></span></label> </td>
                        <td> <label> <input type="checkbox" value="1" onchange="caculate()" id="首次疗程_whole_ridge" name="spine" /> 全脊：<span></span></label> </td>
                        <td> <label> <input type="checkbox" value="1" onchange="caculate()" id="养护（第二次起）_whole_ridge" name="spine" /> 全脊：<span></span></label> </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div class="col-xs-12 col-lg-2 offset-lg-9">
                    <button type="button" class="btn btn-block btn-primary" id= "projectSubmit" onclick="this.disabled=true;submitForm();">开方 </button>
                </div>
            </div>
            </div>
        </div>
    </div>


<script>
//搜索展示相关人员信息
var patient_id;
var template = $(".hideProject").html();
$(".hideProject").remove();
var searching = false;
var doSearch = function (dom) {
    var val = dom.value.toLocaleUpperCase();
    if (!searching) {
        if (val.length === 18 && checkIdCard(val)) {
            var createUserDom = function (userObj) {
                t_template = template
                return t_template;
            };
            doAjax(window.baseUrl + "/registration/get_number", "get", {"id_number": val}, function (data, status) {
                searching = false;
                if (status && data) {
                    if (!data.number) {
                        swal("没有 registration 记录", "", "error");
                        return false;
                    }
                    $("#showProject").html($(createUserDom(data)));
                    $("#health_survey4_1").select2();
                    $("#health_survey4_2").select2();
                    $("#health_survey4_3").select2();
                    $("#treatment_level").select2();
                    for (var i in data.patient) {
                        $("#"+ i).text(data.patient[i] || "无");
                    }
                    patient_id = data.patient.id;
                    $("#recipe_number").text(data.number);

                    doAjax(window.baseUrl + "/recipe/recipe_info", "get", {"category": "筑脊科"}, function(data, status) {
                        if (status && data) {
                            $("#hospital-title").text(data.hospital);
                            $("#doctor").text(data.doctor);
                            $("#issued_date").text(data.issued_date);
                        }
                    });
                    doAjax(window.baseUrl + "/spine/bloodletting", "get",{}, function (data, status) {
                        if (status && data) {
                            $("#bloodLetting").html(data.price+"元");
                            $("#blood").val(data.price);
                        }
                    });
                    doAjax(window.baseUrl + "/spine/spine_level", "get", {}, function (data, status){
                        if (status && data) {
                            for (var i in data) {
                                $("#optionGroup").append("<option value=" + data[i].id + ">" + data[i].treatment_level + "</option>");
                            }
                            $("#treatment_level").trigger("change");
                        } else {
                            $("#optionGroup").append("暂无等级");
                        }
                    });
                } else {
                    $("#showProject").html('<div class="alert alert-info" role="alert">没有挂号，请先去挂号</div>');
                }

            });
        } else {
            $("#showProject").html('<div class="alert alert-danger" role="alert">身份证验证未通过</div>');
        }
    }

};


 var getCurrent = function() {
       doAjax(window.baseUrl + "/users/current_user",
        "get",{}, function(data, status){ 
            return data.id;      
          
        }) 
    };
    var showData = function(){
        doAjax(window.baseUrl + "/users/current_user",
        "get",{}, function(data, status){ 
            doAjax(window.baseUrl + "/examination_input/get_auto_identity_card",
        "get", {"id": data.id},function(data, status){
            console.log(data, status);
            if(data ==="no_id"){
                $('#id_number').val(' ')
            }else{
            $('#id_number').val(data);
        }
        })     
          
        }) 
        
    };
    showData();
//改变筑脊等级相应改变价钱与禁用相关项
var changeGrade = function () {
    var treatment_level = $("#treatment_level").val();
    doAjax(window.baseUrl + "/spine/spine_level_charge", "get" , {"spine_level_id": treatment_level}, function (data, status) {
        $("input[name = spine]").each(function () {
            $(this).prop("checked" , false);
            $(this).prop("disabled" , false);
        });
        for (var i in data) {
            for (j in data[i]){
                $("#"+data[i]["treatment_technique"] + "_" + j).val(data[i][j]);
                $("#"+data[i]["treatment_technique"] + "_" + j).next("span").text(data[i][j]);
            }
        }
        caculate();
    });
};

//选择放血排毒
var bloodSelect = function (dom) {
    if (dom.checked) {
        $("#bloodTimes").prop("disabled", false);
    } else {
        $("#bloodTimes").prop("disabled", true);
    }
};
//计算开票价钱
var caculate = function () {
    var sum = 0;
    if ($("#blood").prop("checked")) {
        $("input[name = spine]:checked").each(function () {
            sum = sum+~~this.value;
        })
        var times = $("#cureTimes").val();
        sum = sum*times;
        var blood = $("#blood").prop("value");
        var bloodTimes = $("#bloodTimes").prop("value");
        sum = sum + blood*bloodTimes;
    } else {
        $("input[name = spine]:checked").each(function () {
            sum = sum + ~~this.value;
        })
        var times = $("#cureTimes").val();
        sum = sum * times;
    }
    $("#total").text(sum);
    $("#single").text(sum);
}

//提交数据
var submitForm = function () {
    var arr = [];
    var  blood_letting_times;
    if ($("#blood").prop("checked")) {
        blood_letting_times = $("#bloodTimes").val();
    } else {
        blood_letting_times = 0;
    }
    $("input[type=checkbox]:checked").each(function(){arr.push($(this)[0].id)});
    var postObj = {
        "treatment_times": $("#cureTimes").val(),
        "physical_condition": $("#descriptionOfPhysicalCondition").val(),
        "diagnostic_advice" : $("#diagnosticAdvice").val(),
        "treatment_level": $("#treatment_level").val(),
        "total": $("#total").text(),
        "single_amount":$("#single").text(),
        "detail": arr,
        "patient_id" : patient_id,
        "blood_letting_times": blood_letting_times
    };
    doAjax(
        window.baseUrl + "/recipe/create_spine_recipe",
        "post",
        postObj,
        function (data, status) {
            $("#projectSubmit").prop('disabled',false);
            if (status && data) {
                swal({
                    title: data.info || "提交成功",
                    type: "success"
                },
                setTimeout(function() {
                    location.href="/spine";
                }, 1000));
            } else {
                swal("提交失败", "", "error");
            }
        }
    );
    return 0;
};
var logSearch = function(dom) {
    var val1 = dom.value.toLocaleUpperCase();
    if (val1.length === 18  && checkIdCard(val1) && !searching) {
        doAjax(window.baseUrl + "/registration/get_number", "get", {"id_number": val1}, function(data, status) {
            if (!data) {
                swal("没有挂号记录,请先挂号", "", "error");
                return false;
            }
            $("#spineSearch").prop("href", "/spineSearch?id_number=" + val1);
        });
    };
};
$(function() {
    $("#id_number").val("");
});
</script>
<% if (typeof pjax === "undefined") { %>
    <%- include ../footer %>
<% } %>
