<% if (typeof pjax === "undefined") { %>
    <%- include ../header %>
<% } else { %>
    <title><%= title %></title>
<% } %>

    <div class="page-header">
        <h1 class="page-title"><%= title %></h1>
        <ol class="breadcrumb">
        </ol>
    </div>
    <div class="page-content">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">患者全息视图</h3>
            </div>
            <div class="panel-body container-fluid">
                <div class="row row-lg">
                    <div class="col-xl-3 col-xs-12">
                        <div class="card  bg-blue-grey-200">
                            <div class="card-block">
                                <h4 class="card-title" id="name">皓月泽</h4>
                                <p class="card-text">联系方式:&nbsp;<span id="phone">18304723843</span></p>
                                <p class="card-text">健康管理师:&nbsp;<span>大将</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-xs-12">
                    <!-- Example Tabs -->
                        <div class="example-wrap">
                            <div class="nav-tabs-horizontal" data-plugin="tabs">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item" role="presentation"><a class="nav-link active" data-toggle="tab" href="#exampleTabsOne"
                                    aria-controls="exampleTabsOne" role="tab">任务</a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsTwo"
                                    aria-controls="exampleTabsTwo" role="tab">电子健康档案</a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsThree"
                                    aria-controls="exampleTabsThree" role="tab">电子医疗档案</a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsFour"
                                    aria-controls="exampleTabsFour" role="tab">健康评估</a></li>
                                </ul>
                                <div class="tab-content p-t-20">
                                    <div class="tab-pane active" id="exampleTabsOne" role="tabpanel">
                                        <div class="example-wrap m-lg-0">
                                            <div class="nav-tabs-horizontal" data-plugin="tabs">
                                                <ul class="nav nav-tabs nav-tabs-solid" role="tablist">
                                                    <li class="nav-item" role="presentation"><a class="nav-link active" data-toggle="tab" href="#exceptionHandling"
                                                    aria-controls="exception Handling" role="tab">待处理异常</a></li>
                                                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsLineTwo"
                                                    aria-controls="exampleTabsLineTwo" role="tab">已处理异常</a></li>
                                                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsLineThree"
                                                    aria-controls="exampleTabsLineThree" role="tab">随访安排</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="exampleTabsTwo" role="tabpanel">
                                        <div class="example-wrap m-lg-0">
                                            <div class="nav-tabs-horizontal" data-plugin="tabs">
                                                <ul class="nav nav-tabs nav-tabs-solid" role="tablist">
                                                    <li class="nav-item" role="presentation"><a class="nav-link active" data-toggle="tab" href="#baseInformation"
                                                    aria-controls="exampleTabsLineOne" role="tab"  id = "baseInformationBtn">基础信息</a></li>
                                                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsLineTwo"
                                                    aria-controls="exampleTabsLineTwo" role="tab">血压检测</a></li>
                                                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsLineThree"
                                                    aria-controls="exampleTabsLineThree" role="tab">血糖检测</a></li>
                                                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsLineFour"
                                                    aria-controls="exampleTabsLineFour" role="tab">体温检测</a></li>
                                                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsLineFour"
                                                    aria-controls="exampleTabsLineFour" role="tab">心率</a></li>
                                                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsLineFour"
                                                    aria-controls="exampleTabsLineFour" role="tab">TDS数字中医</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="exampleTabsThree" role="tabpanel">
                                        <div class="example-wrap m-lg-0">
                                            <div class="nav-tabs-horizontal" data-plugin="tabs">
                                                <ul class="nav nav-tabs nav-tabs-solid" role="tablist">
                                                    <li class="nav-item" role="presentation"><a class="nav-link active" data-toggle="tab" href="#exampleTabsLineOne"
                                                    aria-controls="exampleTabsLineOne" role="tab">Home</a></li>
                                                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsLineTwo"
                                                    aria-controls="exampleTabsLineTwo" role="tab">Components</a></li>
                                                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsLineThree"
                                                    aria-controls="exampleTabsLineThree" role="tab">Css</a></li>
                                                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsLineFour"
                                                    aria-controls="exampleTabsLineFour" role="tab">Javascript</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="exampleTabsFour" role="tabpanel">
                                        <div class="example-wrap m-lg-0">
                                            <div class="nav-tabs-horizontal" data-plugin="tabs">
                                                <ul class="nav nav-tabs nav-tabs-solid" role="tablist">
                                                    <li class="nav-item" role="presentation"><a class="nav-link active" data-toggle="tab" href="#exampleTabsLineOne"
                                                    aria-controls="exampleTabsLineOne" role="tab">Home</a></li>
                                                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsLineTwo"
                                                    aria-controls="exampleTabsLineTwo" role="tab">Components</a></li>
                                                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsLineThree"
                                                    aria-controls="exampleTabsLineThree" role="tab">Css</a></li>
                                                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsLineFour"
                                                    aria-controls="exampleTabsLineFour" role="tab">Javascript</a></li>
                                                </ul>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-xs-12">
                        <div class="tab-content p-t-20">
                            <div class="tab-pane active" id="exampleTabsLineOne" role="tabpanel">
                            s
                            </div>
                            <div class="tab-pane" id="exampleTabsLineTwo" role="tabpanel">
                              Sole
                            </div>
                            <div class="tab-pane" id="exampleTabsLineThree" role="tabpanel">
                              Maestitiam
                            </div>
                            <div class="tab-pane" id="exampleTabsLineFour" role="tabpanel">
                              Adiit
                            </div>
                            <div class="tab-pane" id="baseInformation" role="tabpanel">
                            </div>
                            <div class="tab-pane" id="exceptionHandling" role="tabpanel">
                                <div class="col-xl-7 col-xs-12">
                                    <h4> <i class="icon wb-bell" aria-hidden="true"></i>待处理异常</h4>
                                    <!-- <div class="col-xl-4 col-xs-12">
                                        <select id="pager" class="form-control">
                                            <option>1</option>
                                            <option selected>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                        </select>
                                    </div> -->
                                    <table class="table table1">
                                        <thead>
                                            <tr>
                                                <td>时间</td>
                                                <td>居家健康项目</td>
                                                <td>检测数据</td>
                                                <td>异常情况</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="4"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i> 正在加载中</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div class="col-xl-4 offset-xl-1 col-xs-12">
                                    <h4><i class="icon wb-library" aria-hidden="true"></i>异常处理</h4>
                                    <textarea class="form-control" name="standard_content" rows="8" data-fv-field="standard_content"></textarea><br/>
                                    <div class="modal-footer ">
                                        <button type="button"class="btn  btn-primary"> <i class="icon fa-check" aria-hidden="true"></i>提交</button>
                                    </div>
                                </div>
                                </div>
                            </div>

                        </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var uid = ~~getvl('id');
        doAjax(window.baseUrl + "/patient_record/check", 'get', {'id': uid}, function (data, status) {
            if (data && status) {
                $("#name").html(data.name);
                $("#phone").html(data.phone);
            } else {
                $("#name").html("");
                $("#phone").html("");
            }

        })
        $("#baseInformationBtn").click(function () {
            doAjax("fileQuery","get",{},function (data, status) {
                $("#baseInformation").html(data.toString());
            }, {}, {"X-PJAX": "true", "dataType": "text"});

        })
    </script>
<% if (typeof pjax === "undefined") { %>
    <%- include ../footer %>
<% } %>
