<% if (typeof pjax === "undefined") { %>
    <%- include ../header %>
<% } else { %>
    <title><%= title %></title>
<% } %>
    <div class="page-header">
        <h1 class="page-title"><%= title %></h1>
        <ol class="breadcrumb">
        </ol>
    </div>
    <div class="page-content">
        <!-- Panel -->
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <form class="page-search-form" role="search" onsubmit="return false;">
                            <div class="input-search input-search-dark">
                                <i class="input-search-icon wb-search" aria-hidden="true"></i>
                                <input type="text" class="form-control" id="inputSearch" name="search" placeholder="" oninput="doSearch(this);" maxlength="18">
                                <button type="button" class="input-search-close icon wb-close" aria-label="Close" onclick="$('#inputSearch').val('');$('#contacts_tree .timeline').html(''); doSearch($('#inputSearch')[0])"></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3 offset-md-3 col-sm-3 offset-sm-9">
                        <a href="/newRecord" class="btn btn-block btn-info waves-effect">添加新客户</a>
                    </div>
                </div>
                <div class="nav-tabs-horizontal nav-tabs-animate" data-plugin="tabs">
                    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                        <li class="nav-item" role="presentation"><a class="active nav-link" data-toggle="tab" href="#all_contacts"
                            aria-controls="all_contacts" role="tab">客户信息</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane animation-fade active" id="all_contacts" role="tabpanel">
                                <ul class="list-group"><li class='list-group-item'>暂无搜索结果</li></ul>
                            </div>
                            <div class="tab-pane animation-fade active" id="contacts_tree" role="tabpanel">
                                <ul class="timeline timeline-simple">

                                </ul>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Panel -->
    </div>
<script>
    var searching = false;
    var createTimeLineRight = function(dom) {
        var timeline_right ="\n\
            <li id='{__id__}' class='timeline-item'>\n\
                <div class='timeline-dot' data-placement='right' data-toggle='tooltip' data-trigger='hover' data-original-title='{__datatime__}'></div>\n\
                <div class='timeline-content'>\n\
                    <ul class='list-group list-group-dividered list-group-full'>\n\
                        <li class='list-group-item active'><h4>{__number__}</h4></li>\n\
                        <li class='list-group-item list-group-item-dark' style='display:none'><a href='/page/jibin?id={__number__}'>查看疾病谱定位报告</a></li>\n\
                        <li class='list-group-item list-group-item-dark' style='display:none'><a href='/page/spine?id={__number__}'>查看龙氏脊筑方案报告</a></li>\n\
                        <li class='list-group-item list-group-item-dark' style='display:none'><a href='/page/jiankang?id={__number__}'>查看健康管理方案报告</a></li>\n\
                    </ul>\n\
                </div>\n\
            </li>";
            id = uuid();
            timeline_right = timeline_right.replace(/\{__id__\}/g, id)
                        .replace(/\{__number__\}/g, dom["number"])
                        .replace(/\{__datatime__\}/g, dom["created_at"].substr(0,10))
            return [id,timeline_right];
        };
    var createTimeLineLeft = function(dom) {
        var timeline_left ="\n\
            <li id='{__id__}' class='timeline-item timeline-reverse'>\n\
                <div class='timeline-dot bg-green-500' data-placement='left' data-toggle='tooltip' data-trigger='hover' data-original-title='{__datatime__}'></div>\n\
                <div class='timeline-content'>\n\
                    <ul class='list-group list-group-gap'>\n\
                        <li class='list-group-item active'><h4>{__number__}</h4></li>\n\
                        <li class='list-group-item list-group-item-dark' style='display:none'><a href='/page/jibin?id={__number__}'>查看疾病谱定位报告</a></li>\n\
                        <li class='list-group-item list-group-item-dark' style='display:none'><a href='/page/spine?id={__number__}'>查看龙氏脊筑方案报告</a></li>\n\
                        <li class='list-group-item list-group-item-dark' style='display:none'><a href='/page/jiankang?id={__number__}'>查看健康管理方案报告</a></li>\n\
                    </ul>\n\
                </div>\n\
            </li>"
            id = uuid();
            timeline_left = timeline_left.replace(/\{__id__\}/g, id)
                        .replace(/\{__number__\}/g, dom["number"])
                        .replace(/\{__report_url__\}/g, dom["number"])
                        .replace(/\{__datatime__\}/g, dom["created_at"].substr(0,10))
            return [id,timeline_left];
        };

        function uuid() {
            return 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
                return v.toString(16);
            });
        }
    var doSearch = function(dom) {
        var val = dom.value.toLocaleUpperCase();
        if (val.length === 18 && checkIdCard(val) && !searching) {
            var createUserDom = function(userObj) {
                var template = "\n\
                    <li class='list-group-item'>\n\
                        <div class='media'>\n\
                            <div class='media-left'>\n\
                                <div class='avatar avatar-online'>\n\
                                    <img src='{__avatar__}' alt='...'>\n\
                                    <i class='avatar avatar-busy'></i>\n\
                                </div>\n\
                            </div>\n\
                            <div class='media-body'>\n\
                                <h4 class='media-heading'>\n\
                                    {__name__}\n\
                                </h4>\n\
                                <p>\n\
                                    <i class='icon icon-color wb-user' aria-hidden='true'></i>{__id__}\n\
                                </p>\n\
                            </div>\n\
                            <div class='media-right'>\n\
                                <a class='btn btn-outline btn-success btn-sm' target='_blank' href='/fileQuery?id={__id__}'>档案查看 / 修改</a>\n\
                            </div>\n\
                            <div class='media-right'>\n\
                                <a class='btn btn-outline btn-success btn-sm'  href='/healthDetection?id={__id__}'>健康检测查看</a>\n\
                            </div>\n\
                        </div>\n\
                    </li>"
                return template.replace(/\{__avatar__\}/g, userObj["avatar"] || "/images/1.jpg")
                               .replace(/\{__name__\}/g, userObj["name"])
                               .replace(/\{__id__\}/g, userObj["id"])
                               .replace(/\{__idNumber__\}/g, userObj["idNumber"]);
            };

            searching = true;
            doAjax(window.baseUrl + "/patient/get_by_id_number", "get", {"id_number": val}, function(data, status) {
                searching = false;
                if (status && data) {
                    $("#all_contacts ul:first").html($(createUserDom(data)));
                    doAjax(window.baseUrl + "/registration/check_registration","get",{"id_number": val},function(data, status){
                        if (status && data){
                            $("#contacts_tree .timeline").html('<li class="timeline-period">健康管理动态</li>');
                            for(var i = 0;i < data.length;i++){
                                var name = data[i];
                                if (i%2){
                                    temp_data = createTimeLineRight(name);
                                    $("#contacts_tree .timeline").append(temp_data[1]);
                                    if (data[i]["disease_location_recipes"].length){
                                        $("#"+temp_data[0]+" ul li:eq(1)").show()
                                    }
                                    if (data[i]["health_manage_recipes"].length){
                                        $("#"+temp_data[0]+" ul li:eq(3)").show()
                                    }
                                    if (data[i]["spine_recipes"].length){
                                        $("#"+temp_data[0]+" ul li:eq(2)").show()
                                    }
                                    if (data[i]["tds_tables"].length){

                                        for(var x = 0;x < data[i]["tds_tables"].length;x++){
                                            $("#"+temp_data[0]+" ul").append("<li class='list-group-item list-group-item-dark'><a href='"+data[i]["tds_tables"][x].report_url+"'>"+data[i]["tds_tables"][x].created_at.substr(0,16)+" TDS数字中医报告</a></li>")
                                        }
                                    }
                                } else {
                                    temp_data = createTimeLineLeft(name);
                                    $("#contacts_tree .timeline").append(temp_data[1]);
                                    if (data[i]["disease_location_recipes"].length){
                                        $("#"+temp_data[0]+" ul li:eq(1)").show()
                                    }
                                    if (data[i]["health_manage_recipes"].length){
                                        $("#"+temp_data[0]+" ul li:eq(3)").show()
                                    }
                                    if (data[i]["spine_recipes"].length){
                                        $("#"+temp_data[0]+" ul li:eq(2)").show()
                                    }
                                    if (data[i]["tds_tables"].length){

                                        for(var x = 0;x < data[i]["tds_tables"].length;x++){
                                            console.log(data[i]["tds_tables"][x])
                                            $("#"+temp_data[0]+" ul").append("<li class='list-group-item list-group-item-dark'><a href='"+data[i]["tds_tables"][x].report_url+"'>"+data[i]["tds_tables"][x].created_at.substr(0,16)+" TDS数字中医报告</a></li>")
                                        }
                                    }
                                }
                            }
                            $('[data-toggle="tooltip"]').tooltip()
                            if (!$("#contacts_tree").html().trim()) {
                                $("#contacts_tree").html("<li class='list-group-item'>暂无搜索结果</li>");
                            }
                        }
                    });
                } else {
                    $("#all_contacts ul:first").html("<li class='list-group-item'>暂无搜索结果</li>");
                }
            });
        } else {
            $("#all_contacts ul:first").html("<li class='list-group-item'>暂无搜索结果</li>");
        }
    };
    $(function() {
        $("#inputSearch").val("");
    });
</script>
<% if (typeof pjax === "undefined") { %>
    <%- include ../footer %>
<% } %>
