
<%- include header %>
<div class="page">
	<div class="page-header">
      <h1 class="page-title"><%= title %></h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">Forms</a></li>
        <li class="breadcrumb-item active">Wizard</li>
      </ol>
    </div>
  <div class="page-content">
    <!-- Panel -->
    <div class="panel">
      <div class="panel-body">
        <div class="nav-tabs-horizontal nav-tabs-animate" data-plugin="tabs">
          <ul class="nav nav-tabs nav-tabs-line" role="tablist">
            <li class="nav-item" role="presentation"><a class="active nav-link" data-toggle="tab" href="#all_contacts"
              aria-controls="all_contacts" role="tab">新朋友</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane animation-fade active" id="all_contacts" role="tabpanel">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-online">
                        <img src="/images/1.jpg" alt="...">
                        <i class="avatar avatar-busy"></i>
                      </div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">
                        Herman Beck
                      </h4>
                      <p>
                        <i class="icon icon-color wb-user" aria-hidden="true"></i>你好我是张三
                      </p>
                    </div>
                    <div class="media-right">
                      <button type="button" class="btn btn-outline btn-success btn-sm">添加</button>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-away">
                        <img src="/images/2.jpg" alt="...">
                        <i class="avatar avatar-busy"></i>
                      </div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">
                        Mary Adams
                      </h4>
                      <p>
                        <i class="icon icon-color wb-user" aria-hidden="true"></i>我是李四
                      </p>
                    </div>
                    <div class="media-right">
                      <button type="button" class="btn btn-outline btn-success btn-sm">添加</button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel -->
  </div>
</div>
<%- include footer %>
