
<%- include header %>
<div class="page">
    <div class="page-header">
        <h1 class="page-title"><%= title %></h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Forms</a></li>
            <li class="breadcrumb-item active">Wizard</li>
        </ol>
    </div>
    <div class="page-content">
        <!-- Panel -->
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <form class="page-search-form" role="search" onsubmit="return false;">
                            <div class="input-search input-search-dark">
                                <i class="input-search-icon wb-search" aria-hidden="true"></i>
                                <input type="text" class="form-control" id="inputSearch" name="search" placeholder="" oninput="doSearch(this);" maxlength="18">
                                <button type="button" class="input-search-close icon wb-close" aria-label="Close"></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3 offset-md-3 col-sm-3 offset-sm-9">
                        <a href="/newRecord" class="btn btn-block btn-info waves-effect">添加新患者</a>
                        <!-- <button type="button" class="btn btn-round btn-outline btn-default btn-lg"><i class="icon wb-plus" aria-hidden="true"></i>添加</button> -->
                    </div>
                </div>
                <div class="nav-tabs-horizontal nav-tabs-animate" data-plugin="tabs">
                    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                        <li class="nav-item" role="presentation"><a class="active nav-link" data-toggle="tab" href="#all_contacts"
                            aria-controls="all_contacts" role="tab">全部患者</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane animation-fade active" id="all_contacts" role="tabpanel">
                                <ul class="list-group"><li class='list-group-item'>暂无搜索结果</li></ul>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Panel -->
    </div>
</div>
<div id="template" style="display:none">
    <br/>
    <div id = "showProject" >
        <div class="row">
            <div class="form-group col-lg-11 offset-lg-4  col-xs-12">
                <div class="form-group " style=" margin-bottom: 0px;">
                    <div class="input-search">
                        <P >
                            <h1 id="recipe_number">river </h1>
                        </P>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var searching = false;

    var doSearch = function(dom) {
        var val = dom.value.toLocaleUpperCase();
        if (val.length === 18 && checkIdCard(val) && !searching) {

            var createUserDom = function(userObj) {
                var template = $("#template").html();
                return template;
            };
            searching = true;
            doAjax("http://192.168.1.229:3000/api/v1/patient/get_by_id_number", "get", {"id_number": val}, function(data, status) {
                searching = false;
                if (status && data) {
                    $("#all_contacts ul:first").html($(createUserDom(data)));
                } else {
                    $("#all_contacts ul:first").html("<li class='list-group-item'>暂无搜索结果</li>");
                }
            });
        } else {
            $("#all_contacts ul:first").html("<li class='list-group-item'>暂无搜索结果</li>");
        }
    };
</script>

<%- include footer %>
