<%- include header %>
<div class="page">
	<div class="page-header">
      <h1 class="page-title"><%= title %></h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">Forms</a></li>
        <li class="breadcrumb-item active">Wizard</li>
      </ol>
    </div>
  <div class="page-content container">
    <div class="row">
      <div class="">
		<div class="page-header-actions">
		</div>
    </div>
  <div class="page-content container">
		<div class="panel">
			<div class="panel-body container-fluid">
				<div id="page_header" class="row">
						<div class="col-xs-12 col-md-6">
								<div class="btn-group" data-toggle="buttons">
								  <label class="btn btn-primary active">
									<input type="radio" name="options" id="option1" autocomplete="off" checked> 未处理异常
								  </label>
								  <label class="btn btn-primary">
									<input type="radio" name="options" id="option2" autocomplete="off"> 已处理异常
								  </label>
								  <label class="btn btn-primary">
									<input type="radio" name="options" id="option3" autocomplete="off"> 全部健康
								  </label>
								</div>
						</div>
						<div class="col-xs-12 col-md-3 offset-md-3">
						  <form autocomplete="off">
							<div class="input-search clearfix">
							  <input type="text" class="form-control" id="exampleTypeaheadStyle" name="exampleTypeaheadStyle"
							  placeholder="搜索...">
							  <button type="submit" class="input-search-btn">
								<i class="icon md-search" aria-hidden="true"></i>
							  </button>
							</div>
						  </form>
						</div>
						<div id="data_table" class="col-xs-12 col-md-12" style="margin-top: 10px;">
						  <table class="table table-bordered" >
							<thead>
							  <tr>
								<th>姓名</th>
								<th>检测项目</th>
								<th>体征值</th>
								<th>体征单位</th>
								<th>异常状态</th>
								<th>检测时间</th>
								<th>操作</th>
							  </tr>
							</thead>
							<tbody>
							  <tr>
								<td> 张三 </td>
								<td>  </td>
								<td>  </td>
								<td>  </td>
								<td>  </td>
								<td>  </td>
								<td>  </td>
							  </tr>

							</tbody>
							<tfoot>

							</tfoot>
						  </table>
						</div>
				</div>
			</div>
		</div>
  </div>
</div>
<%- include footer %>
