<%- include header %>
<div class="page">
  <div class="page-content container">
    <div class="row">
      <div class="card card-shadow card-responsive" id="widgetOverallViews">
        <div class="card-block p-30">
          <div class="row p-b-30" style="height:calc(100% - 250px);">
            <div class="col-xs-12 col-sm-4">
              <div class="counter counter-md text-xs-left">
                <div class="counter-label">OVERALL VIEWS</div>
                <div class="counter-number-group text-truncate">
                  <span class="counter-number-related red-600">$</span>
                  <span class="counter-number red-600">432,852</span>
                </div>
                <div class="counter-label">2% higher than last month</div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="counter counter-sm text-xs-left inline-block">
                <div class="counter-label">MY BALANCE</div>
                <div class="counter-number-group">
                  <span class="counter-number-related">$</span>
                  <span class="counter-number">12,346</span>
                </div>
              </div>
              <div class="ct-chart inline-block small-bar-one"></div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="counter counter-sm text-xs-left inline-block">
                <div class="counter-label">NEW ORDERS</div>
                <div class="counter-number-group">
                  <span class="counter-number-related">$</span>
                  <span class="counter-number">17,555</span>
                </div>
              </div>
              <div class="ct-chart inline-block small-bar-two"></div>
            </div>
          </div>
          <div class="ct-chart line-chart h-250"></div>
        </div>
      </div>
      <table class="table table-bordered" >
          <thead>
            <tr>
              <th>监测日期</th>
              <th>监测时长</th>
              <th>平均胎心</th>
              <th>胎动数</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> 2016-10-25 </td>
              <td>  </td>
              <td>  </td>
              <td>  </td>
              <td>  </td>
            </tr>

          </tbody>
          <tfoot>

          </tfoot>
        </table>
    </div>

  </div>
</div>
<%- include footer %>
