<%- include header %>
<div class="page">
  <div class="page-content container">
  <div class="row">
      <table class="table table-bordered" >
        <thead>
          <tr>
            <th>监测日期</th>
            <th>监测时长</th>
            <th>平均胎心</th>
            <th>胎动数</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> 2016-10-25 </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
          </tr>

        </tbody>
        <tfoot>

        </tfoot>
      </table>
    </div>

  </div>
</div>
<%- include footer %>
