<script src="/javascripts/babel-external-helpers.js"></script>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/app.js"></script>
<script src="/javascripts/tether.js"></script>
<script src="/javascripts/bootstrap.js"></script>

<script src="/javascripts/bootstrap-select.js"></script>
<script src="/javascripts/animsition.js"></script>
<script src="/javascripts/jquery.mousewheel.js"></script>
<script src="/javascripts/jquery-asScrollbar.js"></script>
<script src="/javascripts/jquery-asScrollable.js"></script>
<script src="/javascripts/jquery-asHoverScroll.js"></script>
<script src="/javascripts/jquery-slidePanel.js"></script>
<!-- Plugins -->
<script src="/javascripts/select2.js"></script>
<script src="/javascripts/switchery.min.js"></script>
<script src="/javascripts/intro.js"></script>
<script src="/javascripts/screenfull.js"></script>
<script src="/javascripts/chartist.js"></script>
<script src="/javascripts/chartist-plugin-tooltip.js"></script>
<script src="/javascripts/bootstrap-datepicker.js"></script>
<script src="/javascripts/jsgrid.js"></script>
<script src="/javascripts/bootstrap-datepicker.zh-CN.min.js"></script>
<!-- Scripts -->
<script src="/javascripts/State.js"></script>
<script src="/javascripts/Component.js"></script>
<script src="/javascripts/Plugin.js"></script>
<script src="/javascripts/Base.js"></script>
<script src="/javascripts/Config.js"></script>
<script src="/javascripts/Menubar.js"></script>
<script src="/javascripts/GridMenu.js"></script>
<script src="/javascripts/Sidebar.js"></script>
<script src="/javascripts/PageAside.js"></script>
<script src="/javascripts/menu.js"></script>
<script src="/javascripts/colors.js"></script>
<script src="/javascripts/tour.js"></script>
<script>
Config.set('assets', '../assets');
</script>
<!-- Page -->
<script src="/javascripts/Site.js"></script>

<script src="/javascripts/jsgrid-db.js"></script>
<script src="/javascripts/jsgrid1.js"></script>
<script src="/javascripts/asscrollable.js"></script>
<script src="/javascripts/slidepanel.js"></script>
<script src="/javascripts/switchery.js"></script>
<script src="/javascripts/chart.js"></script>

<script>
(function(document, window, $) {
  'use strict';
  var Site = window.Site;
  $(document).ready(function() {
    Site.run();
  });
})(document, window, jQuery);
</script>
</body>
</html>
