<script src="/javascripts/babel-external-helpers.js"></script>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/tether.js"></script>
<script src="/javascripts/bootstrap.js"></script>

<script src="/javascripts/bootstrap-select.js"></script>
<script src="/javascripts/animsition.js"></script>
<script src="/javascripts/jquery-asScrollbar.js"></script>
<script src="/javascripts/jquery-asScrollable.js"></script>
<script src="/javascripts/jquery-asHoverScroll.js"></script>
<!-- Plugins -->
<script src="/javascripts/select2.js"></script>
<script src="/javascripts/screenfull.js"></script>
<script src="/javascripts/chartist.js"></script>
<script src="/javascripts/chartist-plugin-tooltip.js"></script>
<script src="/javascripts/bootstrap-datepicker.js"></script>
<script src="/javascripts/bootstrap-datepicker.zh-CN.min.js"></script>
<!-- Scripts -->
<script src="/javascripts/State.js"></script>
<script src="/javascripts/Component.js"></script>
<script src="/javascripts/Plugin.js"></script>
<script src="/javascripts/Base.js"></script>
<script src="/javascripts/Config.js"></script>
<script src="/javascripts/Menubar.js"></script>
<script src="/javascripts/GridMenu.js"></script>
<script src="/javascripts/Sidebar.js"></script>
<script src="/javascripts/menu.js"></script>
<script>
Config.set('assets', '../assets');
</script>
<!-- Page -->
<script src="/javascripts/Site.js"></script>
<script src="/javascripts/v1.js"></script>
</body>
</html>
