<%- include header %>
<div class="page">
    <div class="page-header">
        <h1 class="page-title"><%= title %></h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Forms</a></li>
            <li class="breadcrumb-item active">Wizard</li>
        </ol>
    </div>

    <div class="page-content">
        <div class="row">
            <div class="panel">
                <div class="panel-body">
                    <div class="row row-lg">
                        <div class="col-xl-12 col-xs-12">
                            <!-- Example Nav Tabs -->
                            <div class="nav-tabs">
                                <ul class="nav nav-tabs nav-tabs-line">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#blood_pressure">血压监测</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#blood_sugar">血糖监测</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#temperature">体温监测</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#weight">体重监测</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#heart_rate">心率监测</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#TDS">TDS数字中医</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <!-- 血压检测页面 -->
                                <div role="tabpanel" class="tab-pane active" id="blood_pressure">
                                    <div style="margin-top: 10px;">
                                        <h3>数据图表</h3>
                                        <div id="chart_blood_pressure"></div>
                                        <script>
                                        ///Demo Data
                                        <% needjquery="<script>jQuery(document).ready(function() {var chart = c3.generate({bindto: '#chart_blood_pressure',data: {x: 'x',columns: [['x', '2016-11-11', '2016-11-12', '2016-11-13', '2016-11-14', '2016-11-15', '2016-11-16'],['收缩压', 110, 120, 115, 125, 120, 125],['舒张压', 88, 90, 92, 88, 90, 88]]},axis: {x: {show: true,type: 'category',},y: {tick: {format: function (d) { return  d+' 毫米汞柱'; }}}}});})</script>"
                                        %>

                                        </script>
                                    </div>

                                    <div style="margin-top: 10px;">
                                        <h3>监测日志</h3>
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>监测日期</th>
                                                    <th>收缩压</th>
                                                    <th>舒张压</th>
                                                    <th>是否异常</th>
                                                </tr>
                                            </thead>
                                            <tbody id="blood_pressures">
                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <!-- 血糖检测页面 -->
                                <div role="tabpanel" class="tab-pane" id="blood_sugar">
                                    <div style="margin-top: 10px;">
                                        <h3>数据图表</h3>
                                        <div id="chart_blood_sugar"></div>
                                        <script>
                                        ///Demo Data
                                        <% needjquery = needjquery+"<script>jQuery(document).ready(function() {var chart = c3.generate({bindto: '#chart_blood_sugar',data: {x: 'x',columns: [['x', '2016-11-11', '2016-11-12', '2016-11-13', '2016-11-14', '2016-11-15', '2016-11-16'],['餐前血糖', 5.2, 5, 5.3, 5.2, 4.9, 5.1],['餐后血糖', 6.0, 6.1, 7, 6.5, 6.1, 6.2]]},axis: {x: {show: true,type: 'category',},y: {tick: {format: function (d) { return ~~(d*10)/10+' 毫克/分升'; }}}}});})</script>"
                                        %>

                                        </script>
                                    </div>

                                    <div style="margin-top: 10px;">
                                        <h3>监测日志</h3>
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>监测日期</th>
                                                    <th>餐前血糖</th>
                                                    <th>餐后血糖</th>
                                                    <th>是否异常</th>
                                                </tr>
                                            </thead>
                                            <tbody id="blood_gloucoses">
                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <!-- 体温检测页面 -->
                                <div role="tabpanel" class="tab-pane" id="temperature">
                                    <div style="margin-top: 10px;">
                                        <h3>数据图表</h3>
                                        <div id="chart_temperature"></div>
                                        <script>
                                        ///Demo Data
                                        <% needjquery= needjquery+"<script>jQuery(document).ready(function() {var chart = c3.generate({bindto: '#chart_temperature',data: {x: 'x',columns: [['x', '2016-11-11', '2016-11-12', '2016-11-13', '2016-11-14', '2016-11-15', '2016-11-16'],['体温', 36.7, 37.1, 37.2, 37.0, 36.8, 37.1]]},axis: {x: {show: true,type: 'category'},y: {tick: {format: function (d) { return  ~~(d*10)/10 +' °C'; }}}}});})</script>"
                                        %>

                                        </script>
                                    </div>

                                    <div style="margin-top: 10px;">
                                        <h3>监测日志</h3>
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>监测日期</th>
                                                    <th>体温 (°C)</th>
                                                    <th>是否异常</th>
                                                </tr>
                                            </thead>
                                            <tbody id="temperatures">
                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <!-- 体重检测页面 -->
                                <div role="tabpanel" class="tab-pane" id="weight">
                                    <div style="margin-top: 10px;">
                                        <h3>数据图表</h3>
                                        <div id="chart_weight"></div>
                                        <script>
                                        ///Demo Data
                                        <% needjquery= needjquery+"<script>jQuery(document).ready(function() {var chart = c3.generate({bindto: '#chart_weight',data: {x: 'x',columns: [['x', '2016-11-11', '2016-11-12', '2016-11-13', '2016-11-14', '2016-11-15', '2016-11-16'],['体重', 65.4, 66, 65.8, 65.9, 65.5, 66]]},axis: {x: {show: true,type: 'category',},y: {tick: {format: function (d) { return  ~~(d*10)/10+' kg'; }}}}});})</script>"
                                        %>

                                        </script>
                                    </div>

                                    <div style="margin-top: 10px;">
                                        <h3>监测日志</h3>
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>监测日期</th>
                                                    <th>体重(kg)</th>
                                                    <th>是否异常</th>
                                                </tr>
                                            </thead>
                                            <tbody id="weights">
                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <!-- 心率检测页面 -->
                                <div role="tabpanel" class="tab-pane" id="heart_rate">
                                    <div style="margin-top: 10px;">
                                        <h3>数据图表</h3>
                                        <div id="chart_heart_rate"></div>
                                        <script>
                                        ///Demo Data
                                        <% needjquery= needjquery+"<script>jQuery(document).ready(function() {var chart = c3.generate({bindto: '#chart_heart_rate',data: {x: 'x',columns: [['x', '2016-11-11', '2016-11-12', '2016-11-13', '2016-11-14', '2016-11-15', '2016-11-16'],['心率', 72, 65, 68, 81, 72, 76]]},axis: {x: {show: true,type: 'category',},y: {tick: {format: function (d) { return  d+' 次/分钟'; }}}}});})</script>"
                                        %>

                                        </script>
                                    </div>

                                    <div style="margin-top: 10px;">
                                        <h3>监测日志</h3>
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>监测日期</th>
                                                    <th>心率 (次/分)</th>
                                                    <th>是否异常</th>
                                                </tr>
                                            </thead>
                                            <tbody id="heart_rates">
                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <!-- TDS数字中医页面 -->
                                <div role="tabpanel" class="tab-pane" id="TDS">
                                    <div id="data_table" class="col-xs-12 col-md-12" style="margin-top: 10px;">
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>姓名</th>
                                                    <th>性别</th>
                                                    <th>年龄</th>
                                                    <th>身高</th>
                                                    <th>体重</th>
                                                    <th>监测时间</th>
                                                    <th>报告展示</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>  孙金秀 </td>
                                                    <td>  </td>
                                                    <td>  </td>
                                                    <td>  </td>
                                                    <td>  </td>
                                                    <td>  </td>
                                                    <td>
                                                        <a class="btn btn-block btn-info waves-effect" href="http://www.hsnet.cn/report/report/ybyt/zm_report.aspx?para=010870695870858870">报告展示</a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- End Example Nav Tabs -->
                        </div>
                    </div>
                </div>
                <!-- Tab panes -->
            </div>
        </div>
    </div>
</div>
<script>
    var createTr = function (obj) {
        return "<tr><td>" + obj.join("</td><td>") + "</td></tr>";
    };

    var cbFunction = function(data,status){
        var tabs = ['blood_glucoses', 'blood_pressures', 'temperatures', 'heart_rates', 'weights'];
        for (var k = 0; k < tabs.length; k++) {
            for(var i = 0; i < data[tabs[k]].length; i++){
                switch (tabs[k]) {
                    case 'blood_glucoses':
                        var tr = [data[tabs[k]][i]['before_blood_glucose'], data[tabs[k]][i]['before_blood_glucose'], data[tabs[k]][i]['datetime']];
                        break;
                    case 'blood_pressures':
                        var tr = [data[tabs[k]][i]['max_blood_pressure'], data[tabs[k]][i]['min_blood_pressure'], data[tabs[k]][i]['datetime']];
                        break;
                    case 'blood_pressures':
                    case 'blood_pressures':
                    case 'blood_pressures':
                        var tr = [data[tabs[k]][i]['value'], data[tabs[k]][i]['datetime']];
                        break;
                }
                tr.push('正常/正常');
                $('#' + tabs[k]).append($(createTr(tr)));
            }
        }
    };
</script>
<% needjquery="\
    <script>\n\
        $(function(){\n\
            var uid =  ~~getvl('id');\n\
            if (!uid) {\n\
                swal({title: 'id 错误', type: 'error'}, function() {\n\
                    window.close();\n\
                });\n\
                return;\n\
            }\n\
            doAjax('http://192.168.1.229:3000/api/v1/examination_check', 'get', {'patient_id': uid}, cbFunction);\n\
        });\n\
    </script>"
%>

<%- include footer %>
