<%- include header %>
<div class="page">
  <div class="page-header">
    <h1 class="page-title"><%= title %></h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">Forms</a></li>
      <li class="breadcrumb-item active">Wizard</li>
    </ol>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">最新患者异常信息</h3>
      </div>
      <div class="panel-body container-fluid">
        <div class="row row-lg">
          <div class="col-xs-6 col-lg-3 col-xl-2">
            <div class="example">
              <div class="card">
                <img class="card-img-top w-full" src="/images/1.jpg" alt="...">
                <div class="card-block">
                  <h4 class="card-title">张三</h4>
                  <p class="card-text">一个月内血压偏高</p>
                  <a class="btn btn-primary btn-block card-link m-r-5" href="" role="button">处理异常</a>

                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-3 col-xl-2">
            <div class="example">
              <div class="card">
                <img class="card-img-top w-full" src="/images/3.jpg" alt="...">
                <div class="card-block">
                  <h4 class="card-title">李四</h4>
                  <p class="card-text">一个月内血压偏高</p>
                  <a class="btn btn-primary btn-block card-link m-r-5" href="" role="button">处理异常</a>

                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-3 col-xl-2">
            <div class="example">
              <div class="card">
                <img class="card-img-top w-full" src="/images/2.jpg" alt="...">
                <div class="card-block">
                  <h4 class="card-title">张三</h4>
                  <p class="card-text">一个月内血压偏高</p>
                  <a class="btn btn-primary btn-block card-link m-r-5" href="" role="button">处理异常</a>

                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-3 col-xl-2">
            <div class="example">
              <div class="card">
                <img class="card-img-top w-full" src="/images/4.jpg" alt="...">
                <div class="card-block">
                  <h4 class="card-title">张三</h4>
                  <p class="card-text">一个月内血压偏高</p>
                  <a class="btn btn-primary btn-block card-link m-r-5" href="" role="button">处理异常</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-3 col-xl-2">
            <div class="example">
              <div class="card">
                <img class="card-img-top w-full" src="/images/4.jpg" alt="...">
                <div class="card-block">
                  <h4 class="card-title">张三</h4>
                  <p class="card-text">一个月内血压偏高</p>
                  <a class="btn btn-primary btn-block card-link m-r-5" href="" role="button">处理异常</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-3 col-xl-2">
            <div class="example">
              <div class="card">
                <img class="card-img-top w-full" src="/images/4.jpg" alt="...">
                <div class="card-block">
                  <h4 class="card-title">张三</h4>
                  <p class="card-text">一个月内血压偏高</p>
                  <a class="btn btn-primary btn-block card-link m-r-5" href="" role="button">处理异常</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include footer %>
