<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="bootstrap admin template">
  <meta name="author" content="">
  <title><%= title %></title>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-extend.min.css">
  <link rel="stylesheet" href="/stylesheets/site.min.css">
  <!-- Plugins -->
  <link rel="stylesheet" href="/stylesheets/animsition.css">
  <link rel="stylesheet" href="/stylesheets/asScrollable.css">
  <link rel="stylesheet" href="/stylesheets/switchery.css">
  <link rel="stylesheet" href="/stylesheets/introjs.css">
  <link rel="stylesheet" href="/stylesheets/slidePanel.css">
  <link rel="stylesheet" href="/stylesheets/flag-icon.css">
  <link rel="stylesheet" href="/stylesheets/login-v3.min.css">
  <!-- Fonts -->
  <link rel="stylesheet" href="/stylesheets/web-icons.min.css">
  <link rel="stylesheet" href="/stylesheets/sweetalert.min.css">
  <!--[if lt IE 9]>
    <script src="/javascripts/html5shiv.min.js"></script>
    <![endif]-->
  <!--[if lt IE 10]>
    <script src="/javascripts/media.match.min.js"></script>
    <script src="/javascripts/respond.min.js"></script>
    <![endif]-->
  <!-- Scripts -->
  <script src="/javascripts/breakpoints.js"></script>
  <script>
  Breakpoints();
  </script>
</head>
<body class="animsition page-login-v3 layout-full">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <!-- Page -->
  <div class="page vertical-align text-xs-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
      <div class="panel">
        <div class="panel-body">
          <div class="brand">
            <img class="brand-img" src="/images/logo-blue.png" alt="...">
          </div>
          <form method="post" action="#" onsubmit="return false;" id="loginForm">
            <div class="form-group form-material floating" data-plugin="formMaterial">
              <input type="email" class="form-control" name="email" id="email" />
              <label class="floating-label">邮箱</label>
            </div>
            <div class="form-group form-material floating" data-plugin="formMaterial">
              <input type="password" class="form-control" name="password" id="password" />
              <label class="floating-label">密码</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg m-t-40" id="loginButton">登录 </button>
          </form>
          <p>Still no account? Please go to <a href="register-v3.html">Sign up</a></p>
        </div>
      </div>
      <footer class="page-copyright page-copyright-inverse">
        <p>WEBSITE BY amazingSurge</p>
        <p>© 2016. All RIGHT RESERVED.</p>
        <div class="social">
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-twitter" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-facebook" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-google-plus" aria-hidden="true"></i>
          </a>
        </div>
      </footer>
    </div>
  </div>
  <!-- End Page -->
  <!-- Core  -->
  <script src="/javascripts/babel-external-helpers.js"></script>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/jquery.cookie.min.js"></script>
  <script src="/javascripts/app.js"></script>
  <script src="/javascripts/tether.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/animsition.js"></script>
  <script src="/javascripts/jquery.mousewheel.js"></script>
  <script src="/javascripts/jquery-asScrollbar.js"></script>
  <script src="/javascripts/jquery-asScrollable.js"></script>
  <script src="/javascripts/jquery-asHoverScroll.js"></script>
  <!-- Scripts -->
  <script src="/javascripts/State.js"></script>
  <script src="/javascripts/Component.js"></script>
  <script src="/javascripts/Plugin.js"></script>
  <script src="/javascripts/Base.js"></script>
  <script src="/javascripts/Config.js"></script>
  <script src="/javascripts/Menubar.js"></script>
  <script src="/javascripts/GridMenu.js"></script>
  <script src="/javascripts/Sidebar.js"></script>
  <script src="/javascripts/PageAside.js"></script>
  <script src="/javascripts/menu.js"></script>
  <script src="/javascripts/colors.js"></script>
  <script src="/javascripts/tour.js"></script>
  <!-- Page -->
  <script src="/javascripts/Site.js"></script>
  <script src="/javascripts/sweetalert.min.js"></script>
  <script>
  (function(document, window, $) {
    'use strict';
    var Site = window.Site;
    $(document).ready(function() {
        Site.run();
    });
    var cb=function(data,status) {
        if (status) {
            if (data["access_token"]) {
                $.cookie("access_token",data["access_token"]);
                swal("登录成功", "正在进入首页", "success");
                setTimeout(function() {
                    location.href="/";
                },1000);
                return true;
            } else {
                $("#loginButton").removeAttr("disabled");
				        swal("登录错误", "邮箱或密码有误", "error");
            }
        } else {
		      	swal("登录错误", "邮箱或密码有误", "error");
            $("#loginButton").removeAttr("disabled");
        }
    };

    var login_submit=function() {
        if ($("#email").val() == "") {
            swal("登录错误", "邮箱不能为空", "error");
            return false;
        }
        if ($("#password").val() == "") {
            swal("登录错误", "密码不能为空", "error");
            return false;
        }
        $("#loginButton").attr("disabled","disabled");
        doAjax("http://192.168.1.229:3000/api/v1/auth","post",$("#loginForm").serialize(),cb);
    }
    $("input").keydown(function(event){
        if (event.id == 13) {
          login_submit();
        }
    })
    $("#loginButton").click(login_submit);



  })(document, window, jQuery);
  </script>
  </body>
</html>
