<%- include header %>
  <!-- Page -->
  <div class="page">
	<div class="page-header">
      <h1 class="page-title"><%= title %></h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">Forms</a></li>
        <li class="breadcrumb-item active">Wizard</li>
      </ol>
    </div>
    <div class="page-content container">
        <form class="form-horizontal" role="form" method="post" action="" onsubmit="submitForm(this); return false;">
            <div class="row">
              <div class="col-md-12">
                <!-- Example Panel With Heading -->
                <div class="panel panel-bordered">
                  <div class="panel-heading">
                    <h3 class="panel-title">基本资料</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
					  <div class="form-group form-material col-xs-12 col-md-6">
                        <label class="form-control-label" for="name">姓名</label>
                        <input type="text" class="form-control" id="name" name="name">
                      </div>
					  <div class="form-group form-material col-xs-12 col-md-2">
                        <label class="form-control-label" for="height">身高</label>
                        <input type="text" class="form-control" id="height" name="height">
                      </div>
					  <div class="form-group form-material col-xs-12 col-md-2">
                        <label class="form-control-label" for="weight">体重</label>
                        <input type="text" class="form-control" id="weight" name="weight">
                      </div>
					  <div class="form-group form-material col-xs-12 col-md-2">
                        <label class="form-control-label" for="nation">民族</label>
                        <input type="text" class="form-control" id="nation" name="nation">
                      </div>
					  <div class="form-group form-material col-xs-12 col-md-6">
                        <label class="form-control-label" for="idCard">身份证号</label>
                        <input type="text" class="form-control" id="idCard" name="id_number" maxlength="18">
                      </div><div class="form-group form-material col-xs-12 col-md-6">
                          <label class="form-control-label" for="born">出生日期</label>
                          <input type="text" class="form-control" data-plugin="datepicker" data-date-format="yyyy-mm-dd" name="birthday" id="born">
                        </div>
					 
                    </div>
					
                    <div class="row">
					  
						  <div class="form-group form-material col-xs-12 col-md-3">
							<label class="form-control-label" for="sex">性别</label>
							<div style="margin-top: 12px;">
								<div class="radio-custom radio-primary" style="display: inline;margin-right: 10px;">
								  <input type="radio" id="sex1" name="sex">
								  <label for="sex1">男</label>
								</div>
								<div class="radio-custom radio-primary" style="display:inline">
								  <input type="radio" id="sex2" name="sex">
								  <label for="sex2">女</label>
								</div>
							</div>
						  </div>
						  <div class="form-group form-material col-xs-12 col-md-3">
							<label class="form-control-label" for="marriage">婚姻状况</label>
							<div style="margin-top: 12px;">
								<div class="radio-custom radio-primary" style="display: inline;margin-right: 10px;">
								  <input type="radio" id="marriage1" name="marriage" value="已婚">
								  <label for="marriage1">已婚</label>
								</div>
								<div class="radio-custom radio-primary" style="display:inline">
								  <input type="radio" id="marriage2" name="marriage" value="未婚">
								  <label for="marriage2">未婚</label>
								</div>
							</div>
						  </div>
                        
						  <div class="form-group form-material col-xs-12 col-md-6">
							<label class="form-control-label" for="tel">联系方式</label>
							<input type="text" class="form-control" id="tel" name="phone">
						  </div>
                    </div>
					
					<div class="row">
					  <div class="form-group form-material col-xs-12 col-md-12">
                        <label class="form-control-label" for="address">家庭住址</label>
                        <input type="text" class="form-control" id="address" name="address">
                      </div>
					</div>
					
					<div class="row">
					
					  <div class="form-group form-material col-xs-12 col-md-3">
                        <label class="form-control-label" for="min_pressure">舒张压</label>
						<div class="input-group">
							<input type="text" class="form-control" id="min_pressure" name="min_BloodPressure">
							<span class="input-group-addon">毫米汞柱</span>
						</div>
                      </div>
					  
					  <div class="form-group form-material col-xs-12 col-md-3">
                        <label class="form-control-label" for="max_pressure">收缩压</label>
						<div class="input-group">
							<input type="text" class="form-control" id="max_pressure" name="max_BloodPressure">
							<span class="input-group-addon">毫米汞柱</span>
						</div>
                      </div>
					  
					  <div class="form-group form-material col-xs-12 col-md-3">
                        <label class="form-control-label" for="b_sugar">餐前血糖</label>
						<div class="input-group">
							<input type="text" class="form-control" id="b_sugar" name="b_BloodGlucose">
							<span class="input-group-addon">毫克/分升</span>
						</div>
                      </div>
					  
					  <div class="form-group form-material col-xs-12 col-md-3">
                        <label class="form-control-label" for="a_sugar">餐后血糖</label>
						<div class="input-group">
							<input type="text" class="form-control" id="a_sugar" name="a_BloodGlucose">
							<span class="input-group-addon">毫克/分升</span>
						</div> 
                      </div>
					  
					  <div class="form-group form-material col-xs-12 col-md-3">
                        <label class="form-control-label" for="pluse">脉搏</label>
						<div class="input-group">
							<input type="text" class="form-control" id="pluse" name="Pluse">
							<span class="input-group-addon">次/分</span>
						</div>
                      </div>
					</div>

                  </div>
                </div>
                <!-- End Example Panel With Heading -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-bordered" >
                  <div class="panel-heading">
                    <h3 class="panel-title">病史</h3>
                  </div>
                  <div class="panel-body">
					<div class="form-group">
						<label for="medical_history_detail" >请问您曾经患过何种疾病？例如：传染病、外伤手术、预防接种、过敏（特别是与目前所患疾病有密切关系的情况）</label>
						<textarea class="form-control" rows="3" id="medical_history_detail" name="disease_history1"></textarea>
					</div>
					
					<div class="form-group">
						<label for="hospital_history" >请问您曾经有过住院的历史么？</label>
						<textarea class="form-control" rows="3" id="hospital_history" name="disease_history2"></textarea>
					</div>
					
					<div class="form-group">
						<label for="hospital_history" >请问您现在较明显的主要症状是什么？有无其他伴随症状？</label>
						<textarea class="form-control" rows="3" id="case" name="disease_history3"></textarea>
					</div>
					
					<div class="form-group">
						<label for="hospital_history" >请问您目前长期使用哪些药物?所用药物名称?剂量及给药途径？</label>
						<textarea class="form-control" rows="3" id="medical" name="disease_history4"></textarea>
					</div>

					<div class="form-group">
						<label for="disease_history5" >请问您月经周期和经期长短规律么?月经量及颜色正常么？妊娠次数？生产胎数？有无人工流产或自然流产?</label>
						<textarea class="form-control" rows="3" id="disease_history5" name="disease_history5"></textarea>
					</div>				

					<div class="form-group">
						<label for="disease_history6" >男士男性病人有无生殖系统疾病？</label>
						<textarea class="form-control" rows="3" id="disease_history6" name="disease_history6"></textarea>
					</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-bordered" >
                  <div class="panel-heading">
                    <h3 class="panel-title">健康调查</h3>
                  </div>
                  <div class="panel-body">
					<div class="row">
											
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">1.请问您曾患有过传染病么？</label>
						  <div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="health_survey1_radio1" name="health_survey1" value="无">
							  <label for="health_survey1_radio1">无</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="health_survey1_radio2" name="health_survey1" value="有">
							  <label for="health_survey1_radio2">有</label>
							</div>
						  </div>
						</div>
						
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">2.请问您曾经有过输血史么？</label>
						  <div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="health_survey2_radio1" name="health_survey2" value="无">
							  <label for="health_survey2_radio1">无</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="health_survey2_radio2" name="health_survey2" value="有">
							  <label for="health_survey2_radio2">有</label>
							</div>
						  </div>
						</div>
						
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">3.请问您有无下列药物过敏症状？</label>
						  <div>
							<div class="checkbox-custom checkbox-primary checkbox-inline">
							  <input type="checkbox" id="health_survey3_select1" name="health_survey3" value="青霉素">
							  <label for="health_survey3_select1">青霉素</label>
							</div>
							<div class="checkbox-custom checkbox-primary checkbox-inline">
							  <input type="checkbox" id="health_survey3_select2" name="health_survey3" value="头孢类">
							  <label for="health_survey3_select2">头孢类</label>
							</div>
							<div class="checkbox-custom checkbox-primary checkbox-inline">
							  <input type="checkbox" id="health_survey3_select3" name="health_survey3" value="大环内酯类">
							  <label for="health_survey3_select3">大环内酯类</label>
							</div>
							<div class="checkbox-custom checkbox-primary checkbox-inline">
							  <input type="checkbox" id="health_survey3_select4" name="health_survey3" value="磺胺类">
							  <label for="health_survey3_select4">磺胺类</label>
							</div>
						  </div>
						</div>
						
						<div class="col-xs-10 col-md-10 offset-md-1">
							<label>4. 请问您的家属中有无下列疾病? </label>
								<div class="row">
								
									<div class="form-group form-material col-xs-12 col-md-5">
										<label for="health_survey4_1">父亲</label>
										<select id="health_survey4_1" class="form-control" multiple data-plugin="select2" name="health_survey4">
										  <optgroup label="疾病列表">
											<option>高血压</option>
											<option>糖尿病</option>
											<option>冠心病 </option>
											<option>恶性肿瘤</option>
											<option>脑卒中</option>
											<option>结核病</option>
											<option>肝炎 </option>
											<option>先天畸形</option>
											<option>慢性阻塞性肺疾病</option>
											<option>其他</option>
											<option>无</option>
										  </optgroup>
										</select>
									</div>
									
									<div class="form-group form-material col-xs-12 col-md-5 offset-md-1">
										<label for="health_survey4_2">母亲</label>
										<select id="health_survey4_2" class="form-control" multiple data-plugin="select2" name="health_survey4_mom[]">
										  <optgroup label="疾病列表">
											<option>高血压</option>
											<option>糖尿病</option>
											<option>冠心病 </option>
											<option>恶性肿瘤</option>
											<option>脑卒中</option>
											<option>结核病</option>
											<option>肝炎 </option>
											<option>先天畸形</option>
											<option>慢性阻塞性肺疾病</option>
											<option>其他</option>
											<option>无</option>
										  </optgroup>
										</select>
									</div>
									
								</div>
								
								<div class="row">
									<div class="form-group form-material col-xs-12 col-md-5">
										<label for="health_survey4_3">兄弟</label>
										<select  id="health_survey4_3" class="form-control" multiple data-plugin="select2"name="health_survey4_brother[]">
										  <optgroup label="疾病列表">
											<option>高血压</option>
											<option>糖尿病</option>
											<option>冠心病 </option>
											<option>恶性肿瘤</option>
											<option>脑卒中</option>
											<option>结核病</option>
											<option>肝炎 </option>
											<option>先天畸形</option>
											<option>慢性阻塞性肺疾病</option>
											<option>其他</option>
											<option>无</option>
										  </optgroup>
										</select>
									</div>
									
									<div class="form-group form-material col-xs-12 col-md-5 offset-md-1">
										<label for="health_survey4_4">子女</label>
										<select id="health_survey4_4" class="form-control" multiple data-plugin="select2" name="health_survey4_child[]" >
										  <optgroup label="疾病列表">
											<option>高血压</option>
											<option>糖尿病</option>
											<option>冠心病 </option>
											<option>恶性肿瘤</option>
											<option>脑卒中</option>
											<option>结核病</option>
											<option>肝炎 </option>
											<option>先天畸形</option>
											<option>慢性阻塞性肺疾病</option>
											<option>其他</option>
											<option>无</option>
										  </optgroup>
										</select>
									</div>
								</div>
					</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-bordered" >
                  <div class="panel-heading">
                    <h3 class="panel-title">吸烟史</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">

						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">1.您现在的吸烟状态是？</label>
						  <div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="smoke_history1_radio1" name="smoke_history1" value="从不吸">
							  <label for="smoke_history1_radio1">从不吸</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="smoke_history1_radio2" name="smoke_history1" value="一直吸">
							  <label for="smoke_history1_radio2">一直吸</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="smoke_history1_radio3" name="smoke_history1" value="已经戒烟">
							  <label for="smoke_history1_radio3">已经戒烟</label>
							</div>
						  </div>
						</div>
					
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">2.您的吸烟时间是？</label>
						  <div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="smoke_history2_radio1" name="smoke_history2" value="1年">
							  <label for="smoke_history2_radio1">1年</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="smoke_history2_radio2" name="smoke_history2" value="1-5年">
							  <label for="smoke_history2_radio2">1-5年</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="smoke_history2_radio3" name="smoke_history2" value="5-10年">
							  <label for="smoke_history2_radio3">5-10年</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="smoke_history2_radio4" name="smoke_history2" value="大于10年">
							  <label for="smoke_history2_radio4">大于10年</label>
							</div>
						  </div>
						</div>
						
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">3.您每日平均吸烟量是？</label>
						  <div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="smoke_history3_radio1" name="smoke_history3" value="<5支/日">
							  <label for="smoke_history3_radio1">&lt;5支/日</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="smoke_history3_radio2" name="smoke_history3" value="5-20支/日">
							  <label for="smoke_history3_radio2">5-20支/日</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="smoke_history3_radio3" name="smoke_history3" value="20支/日">
							  <label for="smoke_history3_radio3">&gt;20支/日</label>
							</div>
						  </div>
						</div>

						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">4.您是否处在被动吸烟环境？</label>
						  <div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="smoke_history4_radio1" name="smoke_history4" value="没有">
							  <label for="smoke_history4_radio1">没有</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="smoke_history4_radio2" name="smoke_history4" value="偶尔">
							  <label for="smoke_history4_radio2">偶尔</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="smoke_history4_radio3" name="smoke_history4" value="经常">
							  <label for="smoke_history4_radio3">经常</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="smoke_history4_radio4" name="smoke_history4" value="总是">
							  <label for="smoke_history4_radio4">总是</label>
							</div>
						  </div>
						</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-bordered" >
                  <div class="panel-heading">
                    <h3 class="panel-title">饮酒史</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
					
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">1.您的喝酒状态是？</label>
						  <div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="drink_history1_radio1" name="drink_history1" value="从不喝">
							  <label for="drink_history1_radio1">从不喝</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="drink_history1_radio2" name="drink_history1" value="偶尔喝酒">
							  <label for="drink_history1_radio2">偶尔喝酒</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="drink_history1_radio3" name="drink_history1" value="一直喝">
							  <label for="drink_history1_radio3">一直喝</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="drink_history1_radio4" name="drink_history1" value="曾喝已戒">
							  <label for="drink_history1_radio4">曾喝已戒</label>
							</div>
						  </div>
						</div>
					
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">2.您饮酒时间是？</label>
						  <div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="drink_history2_radio1" name="drink_history2" value="<1年">
							  <label for="drink_history2_radio1">&lt;1年</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="drink_history2_radio2" name="drink_history2" value="1-5年">
							  <label for="drink_history2_radio2">1-5年</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="drink_history2_radio3" name="drink_history2" value="5-10年">
							  <label for="drink_history2_radio3">5-10年</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="drink_history2_radio4" name="drink_history2" value="大于10年">
							  <label for="drink_history2_radio4">大于10年</label>
							</div>
						  </div>
						</div>
					
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">3.您的饮酒次数？</label>
						  <div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="drink_history3_radio1" name="drink_history3" value="<1次∕日">
							  <label for="drink_history3_radio1">&lt;1次∕日</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="drink_history3_radio2" name="drink_history3" value="1次∕日">
							  <label for="drink_history3_radio2">1次∕日</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="drink_history3_radio3" name="drink_history3" value=">1次∕日">
							  <label for="drink_history3_radio3">&gt;1次∕日</label>
							</div>
						  </div>
						</div>

						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">4. 您的饮酒量是?（ 以白酒为标准，1瓶啤酒为1两白酒，1瓶葡萄酒相当于半斤白酒） </label>
						  <div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="drink_history4_radio1" name="drink_history4" value="< 1两∕次">
							  <label for="drink_history4_radio1">&lt; 1两∕次</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="drink_history4_radio2" name="drink_history4" value="1-3两∕次">
							  <label for="drink_history4_radio2">1-3两∕次</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="drink_history4_radio3" name="drink_history4" value="3-5两∕次">
							  <label for="drink_history4_radio3">3-5两∕次</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="drink_history4_radio4" name="drink_history4" value="5-10两∕次">
							  <label for="drink_history4_radio4">5-10两∕次</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="drink_history4_radio5" name="drink_history4" value=">1斤∕次">
							  <label for="drink_history4_radio5">&gt;1斤∕次</label>
							</div>
						</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-bordered" >
                  <div class="panel-heading">
                    <h3 class="panel-title">饮食运动习惯</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">1.您喜欢吃甜食吗？</label>
						  <div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="eating_habit1_radio1" name="eating_habit1" value="很喜欢">
							  <label for="eating_habit1_radio1">很喜欢</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="eating_habit1_radio2" name="eating_habit1" value="比较喜欢">
							  <label for="eating_habit1_radio2">比较喜欢</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="eating_habit1_radio3" name="eating_habit1" value="一般">
							  <label for="eating_habit1_radio3">一般</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="eating_habit1_radio4" name="eating_habit1" value="不喜欢">
							  <label for="eating_habit1_radio4">不喜欢</label>
							</div>
						  </div>
						</div>
						
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">2.您平常用餐口味偏重吗？</label>
						  <div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="eating_habit2_radio1" name="eating_habit2" value="偏重">
							  <label for="eating_habit2_radio1">偏重</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="eating_habit2_radio2" name="eating_habit2" value="偏轻">
							  <label for="eating_habit2_radio2">偏轻</label>
							</div>
						  </div>
						</div>
						
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">3. 您喜欢吃肉类、海鲜类吗？</label>
						  <div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="eating_habit3_radio1" name="eating_habit3" value="喜欢">
							  <label for="eating_habit3_radio1">喜欢</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="eating_habit3_radio2" name="eating_habit3" value="比较喜欢">
							  <label for="eating_habit3_radio2">比较喜欢</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="eating_habit3_radio3" name="eating_habit3" value="一般">
							  <label for="eating_habit3_radio3">一般</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="eating_habit3_radio4" name="eating_habit3" value="不喜欢">
							  <label for="eating_habit3_radio4">不喜欢</label>
							</div>
						  </div>
						</div>
						
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">4. 您偏于喜爱吃凉食还是热食？</label>
						  <div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="eating_habit4_radio1" name="eating_habit4" value="凉食">
							  <label for="eating_habit4_radio1">凉食</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="eating_habit4_radio2" name="eating_habit4" value="热食">
							  <label for="eating_habit4_radio2">热食</label>
							</div>
						  </div>
						</div>
						
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">5. 您喜欢吃面食还是米饭吗?</label>
						  <div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="eating_habit5_radio1" name="eating_habit5" value="面食">
							  <label for="eating_habit5_radio1">面食</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="eating_habit5_radio2" name="eating_habit5" value="米饭">
							  <label for="eating_habit5_radio2">米饭</label>
							</div>
						  </div>
						</div>
						
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">6. 您每周的运动次数是？</label>
						  <div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="eating_habit6_radio1" name="eating_habit6" value="<1次∕周">
							  <label for="eating_habit6_radio1">&lt;1次∕周</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="eating_habit6_radio2" name="eating_habit6" value="2-3次∕周">
							  <label for="eating_habit6_radio2">2-3次∕周</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="eating_habit6_radio3" name="eating_habit6" value="4-5次∕周">
							  <label for="eating_habit6_radio3">4-5次∕周</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="eating_habit6_radio4" name="eating_habit6" value=">5次∕周">
							  <label for="eating_habit6_radio4">&gt;5次∕周</label>
							</div>
						  </div>
						</div>
						
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">7. 您每次的运动时间是？</label>
						  <div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="eating_habit7_radio1" name="eating_habit7" value="<30分钟∕次">
							  <label for="eating_habit7_radio1">&lt;30分钟∕次</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="eating_habit7_radio2" name="eating_habit7" value="30-60分钟∕次">
							  <label for="eating_habit7_radio2">30-60分钟∕次</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="eating_habit7_radio3" name="eating_habit7" value=">1小时∕次">
							  <label for="eating_habit7_radio3">&gt;1小时∕次</label>
							</div>
						  </div>
						</div>
						
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">8.您目前运动方式是？</label>
						  <div>
							<div class="checkbox-custom checkbox-primary checkbox-inline">
							  <input type="checkbox" id="eating_habit8_select1" name="eating_habit8" value="瑜伽">
							  <label for="eating_habit8_select1">瑜伽</label>
							</div>
							<div class="checkbox-custom checkbox-primary checkbox-inline">
							  <input type="checkbox" id="eating_habit8_select2" name="eating_habit8" value="散步等低强度运动">
							  <label for="eating_habit8_select2">散步等低强度运动</label>
							</div>
							<div class="checkbox-custom checkbox-primary checkbox-inline">
							  <input type="checkbox" id="eating_habit8_select3" name="eating_habit8" value="球类、快跑、爬山、游泳等高强度运动">
							  <label for="eating_habit8_select3">球类、快跑、爬山、游泳等高强度运动</label>
							</div>
							<div class="checkbox-custom checkbox-primary checkbox-inline">
							  <input type="checkbox" id="eating_habit8_select4" name="eating_habit8" value="几乎不运动">
							  <label for="eating_habit8_select4">几乎不运动</label>
							</div>
						  </div>
						</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-bordered" >
                  <div class="panel-heading">
                    <h3 class="panel-title">心理</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
					
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">您平时心情怎么样？(以上问题回答不佳时，继续提问以下问题)</label>
						  <div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="psychology1_radio1" name="psychology1" value="佳">
							  <label for="psychology1_radio1">佳</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="psychology1_radio2" name="psychology1" value="一般">
							  <label for="psychology1_radio2">一般</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="psychology1_radio3" name="psychology1" value="不佳">
							  <label for="psychology1_radio3">不佳</label>
							</div>
						  </div>
						</div>
						
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">1. 您经常生气么？</label>
						  <div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="psychology2_radio1" name="psychology2" value="没有">
							  <label for="psychology2_radio1">没有</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="psychology2_radio2" name="psychology2" value="偶尔">
							  <label for="psychology2_radio2">偶尔</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="psychology2_radio3" name="psychology2" value="有时">
							  <label for="psychology2_radio3">有时</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="psychology2_radio4" name="psychology2" value="经常">
							  <label for="psychology2_radio4">经常</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="psychology2_radio5" name="psychology2" value="总是">
							  <label for="psychology2_radio5">总是</label>
							</div>
						  </div>
						</div>
						
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">2. 您经常无故悲伤么？</label>
						  <div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="psychology3_radio1" name="psychology3" value="没有">
							  <label for="psychology3_radio1">没有</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="psychology3_radio2" name="psychology3" value="偶尔">
							  <label for="psychology3_radio2">偶尔</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="psychology3_radio3" name="psychology3" value="有时">
							  <label for="psychology3_radio3">有时</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="psychology3_radio4" name="psychology3" value="经常">
							  <label for="psychology3_radio4">经常</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="psychology3_radio5" name="psychology3" value="总是">
							  <label for="psychology3_radio5">总是</label>
							</div>
						  </div>
						</div>
						
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">3. 您经常害怕么？</label>
						  <div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="psychology4_radio1" name="psychology4" value="没有">
							  <label for="psychology4_radio1">没有</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="psychology4_radio2" name="psychology4" value="偶尔">
							  <label for="psychology4_radio2">偶尔</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="psychology4_radio3" name="psychology4" value="有时">
							  <label for="psychology4_radio3">有时</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="psychology4_radio4" name="psychology4" value="经常">
							  <label for="psychology4_radio4">经常</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="psychology4_radio5" name="psychology4" value="总是">
							  <label for="psychology4_radio5">总是</label>
							</div>
						  </div>
						</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-bordered" >
                  <div class="panel-heading">
                    <h3 class="panel-title">查体</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">1.您多久做一次健康体检？</label>
						  <div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="check_body1_radio1" name="check_body1" value="三个月">
							  <label for="check_body1_radio1">三个月</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="check_body1_radio2" name="check_body1" value="半年">
							  <label for="check_body1_radio2">半年</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="check_body1_radio3" name="check_body1" value="一年">
							  <label for="check_body1_radio3">一年</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="check_body1_radio4" name="check_body1" value="两年">
							  <label for="check_body1_radio4">两年</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="check_body1_radio5" name="check_body1" value="无规律">
							  <label for="check_body1_radio5">无规律</label>
							</div>
							<div class="radio-custom radio-primary radio-inline">
							  <input type="radio" id="check_body1_radio6" name="check_body1" value="从未做过">
							  <label for="check_body1_radio6">从未做过</label>
							</div>
						  </div>
						</div>
					
					
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">2. 您拥有哪些家庭医疗器械？（可多选）</label>
						  <div>
							<div class="checkbox-custom checkbox-primary checkbox-inline">
							  <input type="checkbox" id="check_body2_select1" name="check_body2" value="温度计">
							  <label for="check_body2_select1">温度计</label>
							</div>
							<div class="checkbox-custom checkbox-primary checkbox-inline">
							  <input type="checkbox" id="check_body2_select2" name="check_body2" value="血压计">
							  <label for="check_body2_select2">血压计</label>
							</div>
							<div class="checkbox-custom checkbox-primary checkbox-inline">
							  <input type="checkbox" id="check_body2_select3" name="check_body2" value="血糖仪">
							  <label for="check_body2_select3">血糖仪</label>
							</div>
							<div class="checkbox-custom checkbox-primary checkbox-inline">
							  <input type="checkbox" id="check_body2_select4" name="check_body2" value="吸氧机">
							  <label for="check_body2_select4">吸氧机</label>
							</div>
							<div class="checkbox-custom checkbox-primary checkbox-inline">
							  <input type="checkbox" id="check_body2_select5" name="check_body2" value="理疗仪">
							  <label for="check_body2_select5">理疗仪</label>
							</div>
							<div class="checkbox-custom checkbox-primary checkbox-inline">
							  <input type="checkbox" id="check_body2_select6" name="check_body2" value="无">
							  <label for="check_body2_select6">无</label>
							</div>
							<div class="checkbox-custom checkbox-primary checkbox-inline">
							  <input type="checkbox" id="check_body2_select7" name="check_body2" value="其它">
							  <label for="check_body2_select7">其它</label>
							</div>
						  </div>
						</div>
						
						<div class="form-group form-material col-xs-12 col-md-12 offset-md-1">
						  <label class="form-control-label">3. 您拥有哪些互联网穿戴设备？</label>
						  <div>
							<div class="checkbox-custom checkbox-primary checkbox-inline">
							  <input type="checkbox" id="check_body3_select1" name="check_body3" value="血压计">
							  <label for="check_body3_select1">血压计</label>
							</div>
							<div class="checkbox-custom checkbox-primary checkbox-inline">
							  <input type="checkbox" id="check_body3_select2" name="check_body3" value="血糖仪">
							  <label for="check_body3_select2">血糖仪</label>
							</div>
							<div class="checkbox-custom checkbox-primary checkbox-inline">
							  <input type="checkbox" id="check_body3_select3" name="check_body3" value="心电测量仪">
							  <label for="check_body3_select3">心电测量仪</label>
							</div>
							<div class="checkbox-custom checkbox-primary checkbox-inline">
							  <input type="checkbox" id="check_body3_select4" name="check_body3" value="睡眠监测仪">
							  <label for="check_body3_select4">睡眠监测仪</label>
							</div>
							<div class="checkbox-custom checkbox-primary checkbox-inline">
							  <input type="checkbox" id="check_body3_select5" name="check_body3" value="无">
							  <label for="check_body3_select5">无</label>
							</div>
							<div class="checkbox-custom checkbox-primary checkbox-inline">
							  <input type="checkbox" id="check_body3_select6" name="check_body3" value="其它">
							  <label for="check_body3_select6">其它</label>
							</div>
						  </div>
						</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-bordered" >
                  <div class="panel-heading">
                    <h3 class="panel-title">健康调查</h3>
                  </div>
                  <div class="panel-body">
                    <div class="medical_history">
                      <div class="row">
						<div class="form-group">
							<label for="habit_c_survey1">请问您是否有多梦易醒、入睡困难或醒后难以入睡等情况?</label>
							<textarea class="form-control" rows="3" id="habit_c_survey1" name="habit_survey1"></textarea>
						</div>
						<div class="form-group">
							<label for="habit_c_survey2">请问您每天大约饮水多少毫升？是否有尿急尿频尿痛等异常情况？</label>
							<textarea class="form-control" rows="3" id="habit_c_survey2" name="habit_survey2"></textarea>
						</div>
						<div class="form-group">
							<label for="habit_c_survey3">请问您大便规律么？有无便秘、便溏、便泻等异常情况?</label>
							<textarea class="form-control" rows="3" id="habit_c_survey3" name="habit_survey3"></textarea>
						</div>
                    </div>
                  </div>
                </div>
              </div>
          <div class="input-group">
            <div class="row">
				<button type="submit" class="btn btn-block btn-success">提交</button>
            </div>
          </div>
        </form>
      </div>
    </div>


        <script>
            var cbFun=function(data,status) {
              if (!status) {
                console.error(data);
              } else {
                console.log(data);
              }
            };
            var submitForm=function(formDom) {
              doAjax("http://192.168.1.225:3005/api/v1/getuser/record","post",$(formDom).serialize(),cbFun,1,cbFun,0);
              return 0;
            };
        </script>



<%- include footer %>
