<%- include header %>
<div class="page">
    <div class="page-header">
        <h1 class="page-title" style="text-align:center" id="hospital"> </h1>
    </div>
    <div class="page-content">
        <!-- Panel -->
        <div class="panel">
            <div class="panel-body container-fluid">
                <form class="form-horizontal" onsubmit="return false;">
                    <div class="row">
                        <div class="col-xs-6 col-lg-3 offset-lg-1" style="float: left; display: inline;">
                            <label for="">病例编号：</label><span id="recipe_number"> </span>
                        </div>
                        <div class="col-xs-6 col-lg-2 offset-lg-2 text-xs-right" style="float: right;display: inline;">
                            <label for="">科室：</label><span>健康管理科</span>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <div class="form-group " style=" margin-bottom: 0px ;">
                                <div class="input-search">
                                    <button type="submit" class="input-search-btn"><i class="icon wb-search" aria-hidden="true"></i></button>
                                    <input type="text" class="form-control" name="search" placeholder="" style="padding-top: 2px;padding-bottom: 2px;" oninput="doSearch(this);" maxlength="18">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="tab-content">
                                <div class="tab-pane animation-fade active" id="all_contacts" role="tabpanel">
                                    <ul class="list-group"><li class='list-group-item text-md-center'> </li></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p class="col-md-4 col-xs-12 offset-lg-1">
                            医生：<span id="doctor"> </span>
                        </p>
                        <p class="col-md-4 col-xs-12 offset-lg-2 ">
                            开具日期：<span id="today"> </span>
                        </p>
                    </div>

                </form>
            </div>
        </div>
        <!-- End Panel -->
    </div>
</div>
<div id="showProject">
    <hr/>
    <div class="row">
        <div class="form-group col-lg-11 offset-lg-1  col-xs-12">
            <h4>
                <i class="icon icon-color wb-user" aria-hidden="true"></i>个人信息
            </h4>
        </div>
        <div class="form-group col-lg-2 offset-lg-2  col-xs-12">
            姓名：<span id="name"></span>
        </div>
        <div class="form-group col-lg-2 offset-lg-1  col-xs-12">
            民族：<span id="nation"></span>
        </div>
        <div class="form-group col-lg-2 offset-lg-1 col-xs-12">
            性别：<span id="sex"></span>
        </div>
        <div class="form-group col-lg-4 offset-lg-2 col-xs-12">
            婚姻状况：<span id="marriage"></span>
        </div>
        <div class="form-group col-lg-4  col-xs-12">
            出生日期：<span id="birthday"></span>
        </div>
        <div class="form-group col-lg-4 offset-lg-2  col-xs-12">
            联系方式：<span id="phone"></span>
        </div>
        <div class="form-group col-lg-4  col-xs-12">
            通讯地址：<span id="address"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-10 offset-lg-1  ">
            <h4><i class="icon icon-color wb-eye" aria-hidden="true"></i>健康管理指导意见</h4>
            <div class="form-group">
                <label class="form-control-label">生理方面: </label>
                <textarea class="form-control" rows="2" id="physiology"></textarea>
            </div>
            <div class="form-group">
                <label class="form-control-label">情志方面: </label>
                <textarea class="form-control" rows="2" id="emotion"></textarea>
            </div>
            <div class="form-group">
                <label class="form-control-label">营养方面: </label>
                <textarea class="form-control" rows="2" id="nutrition"></textarea>
            </div>
            <div class="form-group">
                <label class="form-control-label">生活方式方面: </label>
                <textarea class="form-control" rows="2" id="life_style"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <h4 class=" col-xs-12 col-lg-10 offset-lg-1">
            <i class="icon icon-color wb-order" aria-hidden="true"></i>方案
        </h4>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-md-4 offset-lg-1">
            <label for="health_survey4_2">费别</label>
            <select id="health_survey4_2" class="form-control" data-plugin="select2" name="health_survey5">
                <option>公费</option>
                <option>自费</option>
                <option>医保 </option>
                <option>其它</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-10 offset-lg-1"><div id="exampleBasic" class="form-group jsgrid"></div></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-2 offset-lg-9 ">
            <button type="button" class="btn btn-block btn-primary" onclick="submitForm();">开方 </button>
        </div>
    </div>
    <hr/>
    <div class="row">
        <p class="col-md-4 col-xs-12 offset-lg-1">
            收费员：<span id=""> </span>
        </p>
        <p class="col-md-4 col-xs-12 offset-lg-2 ">
            费用：<span id="total"> </span>
        </p>
    </div>
</div>
<script>
var searching = false;
var temp_data;
var template = $("#showProject").html();
$("#showProject").remove();

var jsGridFrom = function(products) {
    var products = [{
        name: "",
        id: 0
    }].concat(products || []);
    $('#exampleBasic').jsGrid({
        height: "300px",
        width: "100%",

        inserting: true,
        editing: true,
        sorting: true,
        paging: true,
        autoload: true,

        pageSize: 15,
        pageButtonCount: 5,

        deleteConfirm: "确定要删除吗?",

        controller: {
            loadData: function(filter) {
                return $.grep(this.clients, function(client) {
                    return (!filter.Name || client.Name.indexOf(filter.Name) > -1) && (!filter.Age || client.Age === filter.Age) && (!filter.Address || client.Address.indexOf(filter.Address) > -1) && (!filter.Country || client.Country === filter.Country) && (filter.Married === undefined || client.Married === filter.Married);
                });
            },

            insertItem: function(insertingClient) {
                this.clients.push(insertingClient);
            },

            updateItem: function(updatingClient) {},

            deleteItem: function(deletingClient) {
                var clientIndex = $.inArray(deletingClient, this.clients);
                this.clients.splice(clientIndex, 1);
            },
            products: products,
            clients: []

        },

        fields: [{
            name: "产品名",
            type: "select",
            items: products,
            valueField: "name",
            textField: "name"
        }, {
            name: "用法",
            type: "text",
            width: 200
        },{
            name: "实际数量",
            type: "number",
            width: 70
        },{
            name: "数量",
            type: "number",
            width: 70
        }, {
            type: "control"
        }]
    });
};
var getProgrammeAndProduct = function() {
    doAjax("http://192.168.1.229:3000/api/v1/programme/programme_list", "get", {}, function(data, status) {
        if (status && data) {
            for (var i in data) {
                $("#health_survey4_1").append($('<option value="'+data[i]["id"]+'">'+data[i]["name"]+"</option>"));
            }
        }
    });
};
var gethospital = function() {
    doAjax("http://192.168.1.229:3000/api/v1/recipe/recipe_info", "get", {"category": "健康管理科"}, function(data, status) {
        if (status && data) {
            $("#hospital").html(data.hospital);
            $("#doctor").html(data.doctor);
        }
    });
};
var doSearch = function(dom) {
    var val = dom.value.toLocaleUpperCase();
    if (val.length===18  && checkIdCard(val) && !searching) {

        var createUserDom = function(userObj) {
            t_template = template;
            return t_template;
        };
        searching = true;
        doAjax("http://192.168.1.229:3000/api/v1/registration/get_number", "get", {"id_number": val}, function(data, status) {
            searching = false;
            if (status && data) {
                var todaydata =new Date().Format("yyyy-MM-dd");
                $("#all_contacts ul:first").html($(createUserDom(data)));
                $("#health_survey4_1").select2();
                getProgrammeAndProduct();
                $("#health_survey4_2").select2();
                doAjax("http://192.168.1.229:3000/api/v1/product/product_list", "get", {}, function(data, status) {
                    if (data && status) {
                        jsGridFrom(data);
                    }
                });
                for (var i in data.patient) {
                    $("#" + i).text(data.patient[i] || "无");
                };
                $("#recipe_number").text(data.registration.number);
                $("#today").text(todaydata);
                temp_data = data;
                gethospital();
            } else {
                $("#all_contacts ul:first").html("<li class='list-group-item'>暂无搜索结果</li>");
            }
        });
    } else {
        $("#all_contacts ul:first").html("<li class='list-group-item'>暂无搜索结果</li>");
    }
};
var submitForm = function() {
    var postObj = {
        "patient_id": temp_data["patient"]["id"],
        "physiology": $("#physiology").val(),
        "emotion": $("#emotion").val(),
        "nutrition": $("#nutrition").val(),
        "life_style": $("#life_style").val(),
        "detail": JSON.stringify($("#exampleBasic").data("JSGrid").data)
    };
    doAjax(
        "http://192.168.1.229:3000/api/v1/recipe/create_health_manage_recipe",
        "post",
        postObj,
        function(data, status) {
            if (status && data) {
                swal({
                    title: data.info || "提交成功",
                    type: "success"
                },
                function() {
                    $("input:radio[id^='sex']").prop("checked", false);
                    $("input").val("");
                });
            } else {
                swal("提交失败", "", "error");
            }
        }
    );
    return 0;
};
</script>
<%- include footer %>
