<%- include header %>
<div class="page">
  <div class="page-header">
    <h1 class="page-title" style="text-align:center">深圳市第二人民医院</h1>
  </div>
  <div class="page-content">
    <!-- Panel -->
    <div class="panel">
      <div class="panel-body container-fluid">
        <form class="form-horizontal">
          <div class="row">
            <div class="col-xs-6 col-lg-3 offset-lg-1" style="float: left; display: inline;">
              <label for="">病历号：</label><span></span>
            </div><div class="col-xs-6 col-lg-2 offset-lg-2 text-xs-right" style="float: right;display: inline;">
              <label for="">科室：</label><span>单病科</span>
            </div>
            <div class="col-xs-12 col-lg-4">
              <div class="form-group " style=" margin-bottom: 0px;">
                  <div class="input-search">
                    <button type="submit" class="input-search-btn"><i class="icon wb-search" aria-hidden="true"></i></button>
                    <input type="text" class="form-control" name="" placeholder="" style="padding-top: 2px;padding-bottom: 2px;" oninput="doSearch(this);" maxlength="18">
                  </div>
                </div>
            </div>

          </div>

          <br/>
          <div class="row">
            <div class="form-group col-md-4 offset-lg-1  col-xs-12">
              <h4>
                <i class="icon icon-color wb-user" aria-hidden="true"></i>个人信息
              </h4>
              <p>
                姓名：<span id="name"></span><br/><br/>
                性别：<span id="sex"></span><br/><br/>
                体重：<span id="weight"></span><br/><br/>
                年龄：<span id="age"></span><br/><br/>
                电话：<span id="phone"></span><br/><br/>
                地址：<span id="address"></span><br/><br/>
              </p>
            </div>
            <div class="col-xs-12 col-md-4 offset-lg-2  ">
              <h4><i class="icon icon-color wb-eye" aria-hidden="true"></i>医生诊断</h4>
              <div class="form-group">
                <label class="form-control-label">身体状况描述: </label>
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label class="form-control-label">诊断建议: </label>
                <textarea class="form-control" rows="3"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <h4 class=" col-xs-12 col-lg-10 offset-lg-1">
              <i class="icon icon-color wb-order" aria-hidden="true"></i>方案
            </h4>
          </div>
          <div class="row">
          <div class="col-xs-12 col-md-4 offset-lg-1">
            <div class="form-group">
             <label for="health_survey4_1">费别</label>
             <select id="health_survey4_1" class="form-control"  data-plugin="select2" name="health_survey4">
               <optgroup label="">
               <option>公费</option>
               <option>自费</option>
               <option>医保 </option>
               <option>其它</option>
               </optgroup>
             </select>
           </div>
          </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-lg-10 offset-lg-1"><div id="exampleBasic" class="form-group jsgrid" ></div></div>

          </div>


          <div class="row">
            <div class="col-xs-12 col-lg-2 offset-lg-9 ">
              <button type="button" class="btn  btn-block btn-primary" onclick="kf();">开方 </button>
            </div>
          </div>


          <hr/>
          <div class="row">
            <p class="col-md-4 col-xs-12 offset-lg-1">
              医生：<span>医生1</span>
            </p>
            <p class="col-md-4 col-xs-12 offset-lg-2 ">
              费用：<span>444</span>
            </p>
          </div>
          <div class="row">
            <p class="col-md-4 col-xs-12 offset-lg-1">
              收费员：<span>444</span>
            <p class="col-md-4 col-xs-12 offset-lg-2 ">
              开具日期：<span>2016-11-2</span>
            </p>
          </div>
        </form>

      </div>
    </div>
    <!-- End Panel -->
  </div>
</div>

<script>
    var searching = false;
    var doSearch = function(dom) {
        var val = dom.value = dom.value.toLocaleUpperCase(), infoDom = ["name", "sex", "weight", "age", "phone", "address"];
        if (val.length === 18 && checkIdCard(val) && !searching) {
            searching = true;
            doAjax("http://192.168.1.229:3000/api/v1/patient/get_by_id_number", "get", {"id_number": dom.value}, function(data, status) {
                searching = false;
                if (status && data) {
                    for (var i = 0; i < infoDom.length; i++) {
                        switch(infoDom[i]) {
                            case "age":
                                var val = new Date().getFullYear() - ~~(data["birthday"].match(/^\d{4}/)[0]);
                                break;

                            case "weight":
                                var val = data["weights"].length ? data["weights"][0]["value"] : "暂无数据";
                                break;

                            default:
                                var val = data[infoDom[i]];
                        }
                        $("#" + infoDom[i]).text(val);
                    }
                } else {
                    for (var i = 0; i < infoDom.length; i++) {
                        $("#" + infoDom[i]).text("");
                    }
                }
            });
        } else {
            for (var i = 0; i < infoDom.length; i++) {
                $("#" + infoDom[i]).text("");
            }
        }
    };

    var kf = function() {
        console.log(this);
    };
</script>
<%- include footer %>
