
<%- include header %>
<div class="page">
    <div class="page-header">
        <h1 class="page-title"><%= title %></h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Forms</a></li>
            <li class="breadcrumb-item active">Wizard</li>
        </ol>
    </div>
    <div class="page-content">
        <!-- Panel -->
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <form class="page-search-form" role="search">
                            <div class="input-search input-search-dark">
                                <i class="input-search-icon wb-search" aria-hidden="true"></i>
                                <input type="text" class="form-control" id="inputSearch" name="search" placeholder="" oninput="doSearch(this);">
                                <button type="button" class="input-search-close icon wb-close" aria-label="Close"></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1 offset-md-5 col-sm-3 offset-sm-3">
                        <a href="/newRecord" class="btn btn-block btn-info waves-effect">添加新患者</a>
                        <!-- <button type="button" class="btn btn-round btn-outline btn-default btn-lg"><i class="icon wb-plus" aria-hidden="true"></i>添加</button> -->
                    </div>
                </div>
                <div class="nav-tabs-horizontal nav-tabs-animate" data-plugin="tabs">
                    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                        <li class="nav-item" role="presentation"><a class="active nav-link" data-toggle="tab" href="#all_contacts"
                            aria-controls="all_contacts" role="tab">全部患者</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane animation-fade active" id="all_contacts" role="tabpanel">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="avatar avatar-online">
                                                    <img src="/images/1.jpg" alt="...">
                                                    <i class="avatar avatar-busy"></i>
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    Herman Beck
                                                </h4>
                                                <p>
                                                    <i class="icon icon-color wb-user" aria-hidden="true"></i>123246557668
                                                </p>
                                            </div>
                                            <div class="media-right">
                                                <button type="button" class="btn btn-outline btn-success btn-sm">修改</button>
                                            </div>
                                            <div class="media-right">
                                                <button type="button" class="btn btn-outline btn-success btn-sm">查看</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="avatar avatar-away">
                                                    <img src="/images/2.jpg" alt="...">
                                                    <i class="avatar avatar-busy"></i>
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    Mary Adams
                                                </h4>
                                                <p>
                                                    <i class="icon icon-color wb-user" aria-hidden="true"></i>123246557668
                                                </p>
                                            </div>
                                            <div class="media-right">
                                                <button type="button" class="btn btn-outline btn-success btn-sm">修改</button>
                                            </div>
                                            <div class="media-right">
                                                <button type="button" class="btn btn-outline btn-success btn-sm">查看</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Panel -->
    </div>
</div>

<script>
    var doSearch=function(dom) {
        console.log(dom.value);
        doAjax("http://192.168.1.229:3000/api/v1/patient/get_by_id_number", "get", {"id_number": dom.value}, function(data, status) {
            console.log(data, status);
        });
    };
</script>

<%- include footer %>
