<% if (typeof pjax === "undefined") { %>
    <%- include ../header %>
    <% } else { %>
        <title><%= title %></title>
        <% } %>
        <div class="page-header">
            <h1 class="page-title"><%= title %></h1>
            <ol class="breadcrumb">
            </ol>
        </div>
        <div class="page-content">
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row row-lg">
                        <div style="margin-top: 10px;">
                            <div id="labDisplay" style="width: 100%;height:400px;">
                                <div class="row col-md-9">
                                    <div class="col-md-4 offset-lg-1">
                                        <div class="card card-inverse card-success">
                                            <div class="card-block">
                                                <h4 class="card-title">随访预约通知</h4>
                                                <p class="card-text">25
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card-inverse card-danger">
                                            <div class="card-block">
                                                <h4 class="card-title">待处理异常</h4>
                                                <p class="card-text">16
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-9">
                                    <div class="col-md-4 offset-lg-1">
                                        <div class="card card-inverse bg-orange-600">
                                            <div class="card-block">
                                                <h4 class="card-title">今日门诊预约</h4>
                                                <p class="card-text">15
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card-inverse bg-blue-grey-600">
                                            <div class="card-block">
                                                <h4 class="card-title">未读信息</h4>
                                                <p class="card-text">32
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col-md-12 col-xs-12">
                    <h3>最新客户异常信息</h3>
                    <div class="col col-md-12 col-xs-12">
                        <div class="col-md-6 col-xs-12">
                            <table class="table table1">
                                <thead>
                                    <tr>
                                        <td>姓名</td>
                                        <td>异常状态</td>
                                        <td>操作</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="3"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i> 正在加载中</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <table class="table table2">
                                <thead>
                                    <tr>
                                        <td>姓名</td>
                                        <td>异常状态</td>
                                        <td>操作</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="3"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i> 正在加载中</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <table id="iamtempalte" style="display:none">
                        <tr>
                            <td>NNAME</td>
                            <td>RREASON</td>
                            <td><a class="btn btn-primary btn-block card-link m-r-5" href="healthDetection?id=IID" role="button">处理异常</a></td>
                        </tr>
                    </table>
                    <div class="col-md-6 col-xs-12 offset-lg-9">
                        <div class="paginationDiv" id="paginationDiv"></div>
                    </div>
                </div>
            </div>
        </div>
</div>
<script>
var template = $("#iamtempalte :first").html()
$("#iamtempalte").remove()
var cbFunction = function(data,status){
    $(".table1 tr:eq(1)").remove();
    $(".table2 tr:eq(1)").remove();
    $(".table1 tbody").html('');
    $(".table2 tbody").html('');
    var count = 0;
    for ( var i in data.data) {
        count++;
        adata = data.data[i];
        name = adata["patient"]["name"]
        reason = adata.test_item
        id = adata.patient.id
        t_template = template.replace("NNAME",name)
        .replace("RREASON",reason)
        .replace("IID",id)
        if (count > 5){
            $(".table2 tbody").append(t_template);
        } else {
            $(".table1 tbody").append(t_template);
        }
    }
}
var paginationDiv = $("#paginationDiv");
paginationDiv.pagination({
    pageSize: 10,
    loadFirstPage: true,
    remote: {
        url: window.baseUrl + "/exception",
        beforeSend: function (XHR) {
            XHR.setRequestHeader('access-authorization', $.cookie('access_token'));
        },
        success: cbFunction,
        params: {},
        pageParams: function(data) {
            return {
                'page': data.pageIndex + 1,
                'per_page': data.pageSize
            };
        },
        totalName: 'meta.total'
    }
});
</script>
<% if (typeof pjax === "undefined") { %>
    <%- include ../footer %>
    <% } %>
