<% if (typeof pjax === "undefined") { %>
  <%- include ../header %>
<div class="page">
<% } else { %>
<title><%= title %></title>
<% } %>
    <div class="page-header">
        <h1 class="page-title"><%= title %></h1>
        <ol class="breadcrumb">
        </ol>
    </div>
    <div class="page-content">
        <!-- Panel -->
        <div class="panel">
            <div class="panel-body container-fluid">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-xs-6 col-lg-3" style="float: left; display: inline;">
                            <label for="">请输入身份证号码:</label>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <div class="form-group " style=" margin-bottom: 0px;">
                                <div class="input-search">
                                    <input type="text" class="form-control" style="padding-top: 2px;padding-bottom: 2px;" name="id_number" id="id_number" oninput="doSearch(this)" maxlength="18">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="tab-content">
                                <div class="tab-pane animation-fade active" id="all_contacts" role="tabpanel">
                                    <ul class="list-group"><li class='list-group-item text-md-center'> </li></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="template" style="display:none">
    <br/>
    <div id = "showProject" >
        <div class="row">
            <div class="form-group col-lg-11 offset-lg-4  col-xs-12">
                <div class="form-group " style=" margin-bottom: 0px;">
                    <div class="input-search">
                        <P >
                            <h1 id="recipe_number"> </h1>
                        </P>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
var searching = false;
var doSearch = function(dom) {
    var val = dom.value.toLocaleUpperCase();
    if (val.length===18 && checkIdCard(val) && !searching) {
        var createUserDom = function(userObj) {
            var template = $("#template").html();
            return template;
        };
        searching = true;
        doAjax(window.baseUrl + "/registration/create_number", "post", {"id_number": val}, function(data, status) {
            searching = false;
            if (status && data) {
                $("#all_contacts ul:first").html($(createUserDom(data)));
                $("#recipe_number").text(data.number)
            } else {
                dom.value = "";
                swal("没有找到客户，请先前往档案室建档", "", "error");
            }
        });
    } else {
        $("#all_contacts ul:first").html("<li class='list-group-item'>暂无搜索结果</li>");
    }
};
</script>
<% if (typeof pjax === "undefined") { %>
</div>
  <%- include ../footer %>
<% } %>