<%- include ../header %>
<div class="page">
    <div class="page-header">
        <h1 class="page-title"><%= title %></h1>
        <ol class="breadcrumb"> 
        </ol>
    </div>
    <div class="page-content">
        <!-- Panel Followers -->
        <div class="panel" id="followers">
            <div class="panel-heading">
                <h3 class="panel-title">
                    角色管理
                </h3>
                <div class="panel-actions panel-actions-keep">
                    <div class="dropdown">
                        <a class="panel-action" id="examplePanelDropdown" data-toggle="dropdown" href="#"
                        aria-expanded="false" role="button"><i class="icon wb-more-vertical" aria-hidden="true"></i></a>
                        <div class="dropdown-menu dropdown-menu-bullet dropdown-menu-right" aria-labelledby="examplePanelDropdown"
                        role="menu">
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem" data-target="#exampleNiftyFadeScale" data-toggle="modal"><i class="icon wb-flag" aria-hidden="true"></i> 添加角色</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade modal-fade-in-scale-up" id="exampleNiftyFadeScale" aria-hidden="true"
        aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">添加角色</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <input id='role_name' type="text" placeholder="角色名称" class="form-control">
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="text-center">选择角色权限</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <table class="table" >
            <thead>
                <tr>
                    <th>编号</th>
                    <th>角色名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 1 </td>
                    <td> 管理员 </td>
                    <td>
                        <div>
                            <a class="btn btn-outline btn-success btn-sm" href="#">编辑</a>
                            <a data-confirm="确认删除?" class="btn btn-outline btn-success btn-sm" rel="nofollow" data-method="delete" href="#">删除</a>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>

    </div>
</div>
<!-- End Panel Followers -->


<!-- Modal -->


<%- include ../footer %>
